/* Blog formatting */
.blogpost {
  line-height: 1.4em;
  font-size: 1.2em;
  margin-top: 0.3em;
}

/* Bad technique but it is appropriate */
.blogpost p,
.blogpost pre,
.blogpost iframe,
.blogpost ol,
.blogpost ul {
  margin-bottom: .7em;
}

.blogpost h1 {
  font-size: 1.4em;
  line-height: 1.7em;
  margin-bottom: 0.2em;
}

.blogpost h2 {
  font-size: 1.1em;
  line-height: 1.4em;
}

@listItemIndent: 25px;
.blogpost ul > li,
.blogpost ol > li {
  margin-left: @listItemIndent;
}

.blogpost ul > li:before,
.blogpost ol > li:before {
  position: absolute;
  margin-left: @listItemIndent * -1;
}

.blogpost ul,
.blogpost ol {
  list-style: none;
}

.blogpost ul > li:before {
  content: "\2022";
}

.blogpost ol {
  counter-reset: ol;
}

.blogpost ol > li {
  counter-increment: ol;
}

.blogpost ol > li:before {
  content: counter(ol) ".";
}

.blogpost pre {
  display: block;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  padding: 1em;
  border-radius: 10px;
}

.blogpostDate {
  font-size: 1.2em;
  margin-top: 15px;
  padding-top: 0.4em;
}