.projectInfoOuter {
  overflow: visible;
  white-space: nowrap;
  position:relative;
}

.projectInfo {
  position: absolute;
  right: 0;
}

.projectInfo,
.projectForks {
  a {
    display: block;
    line-height: normal;
    margin-top: (60px - 32px) / 2;
  }
}

.competitionDesc {
  height: 32px;
  line-height: 32px;
}