/* Border class */
.border {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

/* Increased border width for inputs */
input.border,
textarea.border,
button.border {
  border-width: 2px;
}

/* Optional border modifiers */
.border-thin {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.border-thick {
  border-width: 2px;
}

.border-sideless {
  border-left-width: 0;
  border-right-width: 0;
}

/* Row striping with border class overload */
.odd-row.theme {
  background: @darkBg;
}
.odd-row.theme.border {
  border-color: @darkBorder;
}

.even-row.theme {
  background: @lightBg;
}
.even-row.theme.border {
  border-color: @lightBorder;
}

/* Adjustments for box-shadow */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  &.odd-row.theme.border:focus {
    @r: red(@darkBorder);
    @g: green(@darkBorder);
    @b: blue(@darkBorder);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(@{r}, @{g}, @{b}, .6)");
  }

  &.even-row.theme.border:focus {
    @r: red(@lightBorder);
    @g: green(@lightBorder);
    @b: blue(@lightBorder);
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(@{r}, @{g}, @{b}, .6)");
  }
}