<div class="container__row push--top">
  <div class="span12 cluster cluster--aggressive">
    <h1>404</h1>
    <p>
      <strong>Error 404</strong>: The page you are looking for could not be found.
    </p>
    <p>
      Here is a <a href="javascript:history.back(-1);">link to the previous page</a>.
    </p>
  </div>
</div>