<div id="article">
  <div class="container__row">
    <div class="span8">
      <div>
        <div>
          <%= article.dateStr %>
        </div>
        <div>
          <h1><%= article.title %></h1>
        </div>
      </div>

      <div>
        <%- article.content %>
      </div>

      <%
        if (article.scripts) {
          article.scripts.forEach(function (script) {
      %>
          <script src="<%= script %>"></script>
      <%
          });
        }
      %>
    </div>
    <div class="span4">
      <h2>Related articles</h2>
      <h2>Related projects</h2>
      <h2>Recent articles</h2>
    </div>
  </div>
</div>