<section id="contactSection">
  <div class="l_row">
    <form id="contactForm" class="l_span8" method="POST" action="contact">
      <fieldset id="contactFieldset" class="fillLine">
        <legend class="superComfyText">Contact Details</legend>
        <%
          var status;
          // If there was no submission attempt
          if (status === undefined) {
        %>
        <div class="contactRow l_row l_rowNested">
          <label for="name" class="l_span2 layoutFlipped" required="required">Name:</label>
          <input id="name" name="name" type="text" class="themeOddRow themeBorder l_span5" />
        </div>
        <div class="contactRow l_row l_rowNested">
          <label for="info" class="l_span2 layoutFlipped" required="required">Contact Info:</label>
          <input id="info" name="info" type="text" class="themeEvenRow themeBorder l_span5" />
        </div>
        <div class="contactRow contactMessageRow l_row l_rowNested">
          <label for="message" class="l_span2 layoutFlipped" required="required">Message:</label>
          <textarea id="message" name="message" type="text" class="themeOddRow themeBorder l_span5"></textarea>
        </div>
        <div class="contactRow layoutCentered">
          <button type="submit" id="submitButton" class="themeEvenRow themeBorder buttonBig">Contact Todd</button>
        </div>
        <%
          } else if (status === true) {
          // Otherwise, if the submission was a success
        %>
          <div class="layoutCentered semiComfyText">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </div>
        <%
          } else {
        %>
          <div class="layoutCentered semiComfyText">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </div>
        <%
          }
        %>
      </fieldset>
    </form>
    <aside id="picContainer" class="l_span4 comfyRowTop">
      <figure id="picFigure">
        <a href="http://www.aaronwax.com/">
          <img src="public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" />
          <figcaption>
            <div class="comfyText layoutCentered">
              Photograph taken by A.J. Wax
            </div>
          </figcaption>
        </a>
      </figure>
    </aside>
  </div>
</section>