<div id="contact">
  <div class="container__row">
    <form class="width8 float--left hard--left" method="POST" action="/contact">
      <fieldset>
        <% /* TODO: In Chrome 26, <legend> does not respect inner block elements */ %>
        <% /* TODO: PhantomJS still seems to not be respecting it? */ %>
        <legend class="width8 gamma push--bottom"><h3 class="flush--bottom">Contact Details</h3></legend>
        <%
          // If there was no submission attempt
          if (locals.emailStatus === null) {
        %>
        <div class="flexbox push--bottom">
          <div class="flexbox__item width2">
            <label for="name" class="text--right" required="required">Name:&nbsp;</label>
          </div>
          <div class="flexbox__item width6">
            <input id="name" name="name" type="text" class="row--light row--bordered span5 flush--left"/>
          </div>
        </div>
        <div class="cf push--bottom">
          <div class="flexbox__item width2">
            <label for="info" class="text--right" required="required">Contact Info:&nbsp;</label>
          </div>
          <div class="flexbox__item width6">
            <input id="info" name="info" type="text" class="row--light row--bordered span5 flush--left" />
          </div>
        </div>
        <div class="flexbox push--bottom">
          <div class="flexbox__item width2">
            <label for="message" class="text--right" required="required">Message:&nbsp;</label>
          </div>
          <div class="flexbox__item width6">
            <textarea id="message" name="message" type="text" class="row--light row--bordered span5 flush--left" rows="3"></textarea>
          </div>
        </div>
        <div class="text--center">
          <button type="submit" id="submitButton" class="row--light row--bordered btn--huge delta">Contact Todd</button>
        </div>
        <%
          } else if (locals.emailStatus === true) {
          // Otherwise, if the submission was a success
        %>
          <p class="text--center">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </p>
        <%
          } else {
        %>
          <p class="text--center">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </p>
        <%
          }
        %>
      </fieldset>
    </form>
    <div class="span4">
      <p>
        <% /* TODO: Did hover over the image previously underline the text? */ %>
        <a href="http://www.aaronwax.com/">
          <div>
            <img src="/public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" />
          </div>
          <div class="text--center">
            Photograph taken by A.J. Wax
          </div>
        </a>
      </p>
    </div>
  </div>
</div>