<section id="contactSection">
  <div class="layoutRow">
    <form id="contactForm" class="layoutSize2of3 layoutUnit" method="POST" action="contact">
      <fieldset id="contactFieldset" class="fillLine">
        <legend>Contact Details</legend>
        <%
          var status;
          // If there was no submission attempt
          if (status === undefined) {
        %>
        <div class="layoutRow layoutRowSuperTall">
          <label for="name" class="layoutUnit layoutSize1of4 layoutFlipped" required="required">Name:</label>
          <div class="layoutUnit layoutSize3of4">
            <input id="name" name="name" type="text" class="themeOddRow themeBorder layoutSize4of5" />
          </div>
        </div>
        <div class="layoutRow layoutRowSuperTall">
          <label for="info" class="layoutUnit layoutSize1of4 layoutFlipped" required="required">Contact Info:</label>
          <div class="layoutUnit layoutSize3of4">
            <input id="info" name="info" type="text" class="themeEvenRow themeBorder layoutSize4of5" />
          </div>
        </div>
        <div class="layoutRow layoutRowSuperTall">
          <label for="message" class="layoutUnit layoutSize1of4 layoutFlipped" required="required">Message:</label>
          <div class="layoutUnit layoutSize3of4">
            <textarea id="message" name="message" type="text" class="themeOddRow themeBorder layoutSize4of5"></textarea>
          </div>
        </div>
        <div class="layoutRow layoutRowSuperTall"><div class="layoutUnit layoutSizeFill layoutCentered">
          <button type="submit" id="submitButton" class="themeEvenRow themeBorder buttonBig">Contact Todd</button>
        </div></div>
        <%
          } else if (status === true) {
          // Otherwise, if the submission was a success
        %>
          <div class="layoutRow layoutCentered"><div class="layoutUnit layoutSizeFill">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </div></div>
        <%
          } else {
        %>
          <div class="layoutRow layoutCentered"><div class="layoutUnit layoutSizeFill">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </div></div>
        <%
          }
        %>
      </fieldset>
    </form>
    <aside id="picContainer" class="layoutUnit layoutSize1of3">
      <figure id="picFigure">
        <a href="http://www.aaronwax.com/">
          <!-- TODO: Remove layoutSize4of5 -->
          <img src="public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" class="layoutSize4of5" />
          <figcaption>
            <div class="layoutRow"><div class="layoutUnit layoutSizeFill layoutCentered">
              Photograph taken by A.J. Wax
            </div></div>
          </figcaption>
        </a>
      </figure>
    </aside>
  </div>
</section>