<section id="contactSection">
  <div class="row">
    <form id="contactForm" class="span8 form-horizontal" method="POST" action="contact">
      <fieldset id="contactFieldset">
        <legend><h3>Contact Details</h3></legend>
        <%
          var emailStatus;
          // If there was no submission attempt
          if (emailStatus === undefined) {
        %>
        <div class="control-group">
          <label for="name" class="control-label" required="required">Name:&nbsp;</label>
          <input id="name" name="name" type="text" class="odd-row theme border span5" />
        </div>
        <div class="control-group">
          <label for="info" class="control-label" required="required">Contact Info:&nbsp;</label>
          <input id="info" name="info" type="text" class="even-row theme border span5" />
        </div>
        <div class="control-group">
          <label for="message" class="control-label" required="required">Message:&nbsp;</label>
          <textarea id="message" name="message" type="text" class="odd-row theme border span5"></textarea>
        </div>
        <div class="layout-center">
          <button type="submit" id="submitButton" class="even-row theme border btn-xlarge">Contact Todd</button>
        </div>
        <%
          } else if (emailStatus === true) {
          // Otherwise, if the submission was a success
        %>
          <div class="layout-center">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </div>
        <%
          } else {
        %>
          <div class="layout-center">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </div>
        <%
          }
        %>
      </fieldset>
    </form>
    <aside id="picContainer" class="span4">
      <p>
        <figure id="picFigure">
          <a href="http://www.aaronwax.com/">
            <img src="public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" />
            <figcaption>
              <div class="layout-center">
                Photograph taken by A.J. Wax
              </div>
            </figcaption>
          </a>
        </figure>
      </p>
    </aside>
  </div>
</section>