<section id="contactSection">
  <div class="row">
    <form id="contactForm" class="span8" method="POST" action="contact">
      <fieldset id="contactFieldset" class="fillLine">
        <legend class="superComfyText">Contact Details</legend>
        <%
          var status;
          // If there was no submission attempt
          if (status === undefined) {
        %>
        <div class="contactRow row rowNested">
          <label for="name" class="span2 layoutFlipped" required="required">Name:</label>
          <input id="name" name="name" type="text" class="themeOddRow themeBorder span5" />
        </div>
        <div class="contactRow row rowNested">
          <label for="info" class="span2 layoutFlipped" required="required">Contact Info:</label>
          <input id="info" name="info" type="text" class="themeEvenRow themeBorder span5" />
        </div>
        <div class="contactRow contactMessageRow row rowNested">
          <label for="message" class="span2 layoutFlipped" required="required">Message:</label>
          <textarea id="message" name="message" type="text" class="themeOddRow themeBorder span5"></textarea>
        </div>
        <div class="contactRow layout-center">
          <button type="submit" id="submitButton" class="themeEvenRow themeBorder btn btn-xlarge">Contact Todd</button>
        </div>
        <%
          } else if (status === true) {
          // Otherwise, if the submission was a success
        %>
          <div class="layout-center semiComfyText">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </div>
        <%
          } else {
        %>
          <div class="layout-center semiComfyText">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </div>
        <%
          }
        %>
      </fieldset>
    </form>
    <aside id="picContainer" class="span4 comfyRowTop">
      <figure id="picFigure">
        <a href="http://www.aaronwax.com/">
          <img src="public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" />
          <figcaption>
            <div class="comfyText layout-center">
              Photograph taken by A.J. Wax
            </div>
          </figcaption>
        </a>
      </figure>
    </aside>
  </div>
</section>