<section id="contactSection" class="contentSection mainSection">
  <form id="contactForm" class="size2of3 unit" method="POST" action="contact">
    <fieldset id="contactFieldset" class="size1of1">
      <legend>Contact Details</legend>
      <div class="line">
        <label for="name" class="size1of4 textRight unit">Name:</label>
        <div class="lastUnit">
          <input id="name" name="name" type="text" class="oddRow border size4of5" />
        </div>
      </div>
      <div class="line">
        <label for="info" class="size1of4 textRight unit">Contact Info:</label>
        <div class="lastUnit">
          <input id="info" name="info" type="text" class="evenRow border size4of5" />
        </div>
      </div>
      <div class="line oddRow">
        <label for="message" class="size1of4 textRight unit">Message:</label>
        <div class="lastUnit">
          <textarea id="message" name="message" type="text" class="oddRow border size4of5"></textarea>
        </div>
      </div>
      <div class="line submitLine">
        <button type="submit" id="submitButton" class="evenRow border">Contact Todd</button>
      </div>
    </fieldset>
  </form>
  <aside id="picContainer" class="lastUnit">
    <figure id="picFigure">
      <img src="public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" class="size4of5" />
      <figcaption>
        <div class="line">
          <a href="http://www.aaronwax.com/">Photograph taken by A.J. Wax</a>
        </div>
      </figcaption>
    </figure>
  </aside>
</section>