<div id="contact">
  <div class="container__row">
    <form class="span8" method="POST" action="/contact">
      <fieldset>
        <legend><h3>Contact Details</h3></legend>
        <%
          // If there was no submission attempt
          if (locals.emailStatus === undefined) {
        %>
        <div class="cf push--bottom">
          <label for="name" class="span2 flush--left text--right" required="required">Name:&nbsp;</label>
          <input id="name" name="name" type="text" class="row--dark row--bordered span5" />
        </div>
        <div class="cf push--bottom">
          <label for="info" class="span2 flush--left text--right" required="required">Contact Info:&nbsp;</label>
          <input id="info" name="info" type="text" class="row--bordered span5" />
        </div>
        <div class="cf push--bottom">
          <label for="message" class="span2 flush--left text--right" required="required">Message:&nbsp;</label>
          <textarea id="message" name="message" type="text" class="row--dark row--bordered span5"></textarea>
        </div>
        <div class="text--center">
          <button type="submit" id="submitButton" class="row--dark row--bordered btn-xlarge">Contact Todd</button>
        </div>
        <%
          } else if (locals.emailStatus === true) {
          // Otherwise, if the submission was a success
        %>
          <p class="text--center">
            Thank you for contacting me!
            <br/>
            I will respond to your request within 48 hours. Have a nice day!
          </p>
        <%
          } else {
        %>
          <p class="text--center">
            Ouch! An error seems to have occurred.
            <br/>
            <a href="javascript:location.reload();">Could you please try that again?</a>
          </p>
        <%
          }
        %>
      </fieldset>
    </form>
    <div class="span4">
      <p>
        <a href="http://www.aaronwax.com/">
          <div>
            <img src="/public/images/todd.jpg" alt="Photograph of Todd Wolfson taken by A.J. Wax" />
          </div>
          <div class="text--center">
            Photograph taken by A.J. Wax
          </div>
        </a>
      </p>
    </div>
  </div>
</div>