<!doctype>
<html>
<head>
  <title>Kaleidoscope test page</title>
  <style>
    body {
      margin: 0;
      background: linen;
    }

    .media {
      max-height: 300px;
      max-width: 300px;
    }
  </style>
</head>
<body>
  <%
    [
      '/',
      '/2012-11-17-subtle-anti-patterns',
      '/projects',
      '/contact',
      '/contact?test=success',
      '/contact?test=fail',
      '/404'
    ].forEach(function renderScreenshot (path) {
      var url = 'http://localhost:8080' + path,
          escapedUrl = encodeURIComponent(url);
  %>
    <div class="media">
      <p><a href="<%=path%>"><%=path%></a></p>
      <div>
        <img src="/test/perceptual-tests/screenshot_diffs/http%3A%2F%2Flocalhost%3A8080%2Fprojects.png"/>
      </div>
    </div>
  <%
    });
  %>
</body>
</html>