<!doctype>
<html>
<head>
  <title>Kaleidoscope test page</title>
  <style>
    body {
      margin: 0;
      background: linen;
    }

    .media {
      height: 300px;
      width: 300px;
      float: left;
      margin-right: 10px;
      margin-bottom: 50px;
    }

    .media img {
      max-width: 300px;
      max-height: 300px;
    }
  </style>
</head>
<body>
  <%
    [
      '/',
      '/2012-11-17-subtle-anti-patterns',
      '/2013-07-11-axioms-of-maintainability', // Blog post with code highlighting
      '/2013-07-24-abandoned-project:-kaleidoscope', // Blog post with images
      '/2013-07-27-develop-faster', // Blog post with tables
      '/projects',
      '/contact',
      '/contact?test=success',
      '/contact?test=fail',
      '/404'
    ].forEach(function renderScreenshot (path) {
      var url = 'http://localhost:8080' + path,
          escapedUrl = encodeURIComponent(encodeURIComponent(url)),
          filepath = '/test/perceptual-tests/screenshot_diffs/' + escapedUrl + '.png';
  %>
    <div class="media">
      <p><a href="<%=path%>"><%=path%></a></p>
      <div>
        <a href="<%=filepath%>" target="_blank"><img src="<%=filepath%>"/></a>
      </div>
    </div>
  <%
    });
  %>
</body>
</html>