<!doctype>
<html>
<head>
  <title>Kaleidoscope test pag</title>
  <style>
    body {
      margin: 0;
    }
  </style>
</head>
<body>
  <%
    [
      '_',
      '_2012-11-17-subtle-anti-patterns',
      '_projects',
      '_contact',
      '_contacttestsuccess',
      '_contacttestfail',
      '_404'
    ].forEach(function renderScreenshot (filepath) {
  %>
    <img src="/test/perceptual-tests/screenshot_diffs/http:__localhost:8080<%= filepath %>.png"/>
  <%
    });
  %>
</body>
</html>