<!doctype>
<html>
<head>
  <title>Kaleidoscope test page</title>
  <style>
    body {
      margin: 0;
      background: linen;
    }

    .media {
      width: 300px;
      float: left;
      margin-right: 10px;
      margin-bottom: 50px;
    }

    .media img {
      max-width: 300px;
      max-height: 300px;
    }
  </style>
</head>
<body>
  <%
    urls.forEach(function renderScreenshot (path) {
      var url = 'http://localhost:8080' + path,
          escapedUrl = encodeURIComponent(encodeURIComponent(url));
  %>
    <div class="media">
      <p><a href="<%=path%>"><%=path%></a></p>
      <div>
        <%
          ['actual_screenshots', 'diff_screenshots', 'expected_screenshots'].forEach(function (dir) {
            var filepath = '/test/perceptual-tests/' + dir + '/' + escapedUrl + '.png';
        %>
            <a href="<%=filepath%>" target="_blank"><img src="<%=filepath%>"/></a>
        <%
          });
        %>
      </div>
    </div>
  <%
    });
  %>
</body>
</html>