<%
  var config = config || {},
      page = page || config.page;
%>
<!doctype html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
  <link rel="shortcut icon" href="/public/images/favicon.ico" />
  <!-- Full CSS available at /public/css/index.css -->
	<link rel="stylesheet" type="text/css" media="all" href="/public/css/index.min.css"/>
  <link rel="alternate" type="application/atom+xml" title="twolfson.com blog feed" href="/index.xml" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%
    // If we are in production, enable GA
    if (process.env.NODE_ENV === "production") {
  %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17165993-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <%
    } else {
    // Otherwise, enable disqus developer mode
  %>
    <script>
      var disqus_developer = 1;
    </script>
  <%
    }
  %>
  <script src="/public/js/index.js"></script>
</head>
<body>
	<div id="global-wrapper" class="container">
    <div id="global-main">
      <header class="row">
        <h1 class="span4">Todd Wolfson</h1>
        <h2 class="span"><a href="http://en.wikipedia.org/wiki/ECMAScript">Javascript</a> Developer</h2>
        <a href="http://github.com/twolfson/" class="githubLink" target="_blank">GitHub</a>
        <a href="http://twitter.com/twolfsn/" class="twitterLink" target="_blank">Twitter</a>
        <a href="/index.xml" class="rssLink" target="_blank">RSS</a>
      </header>
      <nav id="global-nav" class="row even-row theme border border-sideless border-thick"><div class="span12">
        <ul class="navlist pull-right">
        <% var navLinks = [
                { "name": "projects", "href": "projects" },
                { "name": "blog", "href": "/" },
                { "name": "contact", "href": "contact" }];

          navLinks.forEach(function (navLink) {
            var navName = navLink.name,
                iSelected = page === navName ? "isSelected" : "";
          %>
          <li class="navlist-item span">
            <a href="<%-navLink.href%>" class="<%=iSelected%>"><%=navName%></a>
          </li>
        <% }); %>
        </ul>
      </div></nav>
      <%- body %>
    </div>
  </div>
  <footer id="global-footer" class="container layout-center">
    <div class="row">
      <hr class="offset2 span8 border border-thin"/>
    </div>
    <p>
      Built by <a href="/contact">Todd Wolfson</a>. All rights reserved. &copy;2005-2013
    </p>
    <p>
      Powered by <a href="http://expressjs.com/">express</a> and <a href="http://twolfson.github.com/jojo/">jojo</a>
    </p>
  </footer>
</body>
</html>