<!doctype>
<html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
	<link rel="stylesheet" type="text/css" media="all" href="public/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="public/css/index.css"/>
  <!-- TODO: Implement build chain for ONE stylesheet -->
  <!-- TODO: Implement build chain for ONE script -->
  <!-- TODO: Remove from production -->
  <script src="public/js/reload_with_collector.js"></script>
</head>
<body>
	<div id="wrapper">
    <header id="headerSection" class="mainSection">
      <!-- TODO: Make font sans-serif -->
      <div class="row one">
        <h1 class="unit header">Todd Wolfson</h1>
        <!-- TODO: Use kerning -->
        <h2 class="unit subheader">JAVASCRIPT DEVELOPER</h2>
      </div>
      <!-- TODO: Add top and bottom border -->
      <nav id="navBar" class="row one">
        <a href="http://github.com/twolfson/" class="link">github</a>
        <a href="portfolio" class="link">portfolio</a>
        <a href="resume" class="link">resume</a>
        <a href="#" class="link">blog</a>
        <a href="contact" class="link">contact</a>
      </nav>
    </header>
    <%- body %>
	</div>
</body>
</html>