<!doctype>
<html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
  <link rel="shortcut icon" href="public/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="public/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="public/css/index.css"/>
  <!-- TODO: Implement build chain for ONE stylesheet -->
  <!-- TODO: Implement build chain for ONE script -->
  <!-- TODO: Remove from production -->
  <!-- <script src="public/js/reload_with_collector.js"></script> -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17165993-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
	<div class="oddRow globalWrapper">
    <header class="headerSection mainSection">
      <div class="line size1of1">
        <h1>Todd Wolfson</h1>
        <!-- TODO: Use kerning -->
        <h2><a href="http://en.wikipedia.org/wiki/ECMAScript" class="highlightText">JAVASCRIPT</a> DEVELOPER</h2>
      </div>
      <nav id="navBar" class="evenRow border line size1of1">
      <% var navLinks = [
              { "name": "github", "href": "http://github.com/twolfson/" },
              { "name": "portfolio", "href": "portfolio" },
              { "name": "resume", "href": "resume" },
              { "name": "blog", "href": "//blog.twolfson.com/" },
              { "name": "contact", "href": "contact" }],
            i,
            len,
            navLink,
            navName,
            page;
            
        for( i = 0, len = navLinks.length; i < len; i++ ) {
          navLink = navLinks[i];
          navName = navLink.name;
        %>
        <a href="<%-navLink.href%>" class="link<%=page===navName?" selected":""%>"><%=navName%></a>
      <% } %>
      </nav>
    </header>
    <%- body %>
    <footer class="footerSection mainSection">
      <span>Site designed and created by Todd Wolfson.</span>
      <span>All rights reserved. &copy;2005-2012</span>
    </footer>
	</div>
</body>
</html>