<!doctype>
<html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
	<link rel="stylesheet" type="text/css" media="all" href="public/css/normalize.css"/>
	<link rel="stylesheet" type="text/css" media="all" href="public/css/index.css"/>
  <!-- TODO: Implement build chain for ONE stylesheet -->
  <!-- TODO: Implement build chain for ONE script -->
  <!-- TODO: Remove from production -->
  <script src="public/js/reload_with_collector.js"></script>
</head>
<body>
	<div id="wrapper">
    <header id="headerSection" class="mainSection">
      <div class="line size1of1">
        <h1 class="inlineBlock header">Todd Wolfson</h1>
        <!-- TODO: Use kerning -->
        <h2 class="inlineBlock subheader">JAVASCRIPT DEVELOPER</h2>
      </div>
      <nav id="navBar" class="line size1of1">
      <% var navLinks = [
              { 'name': 'github', 'href': 'http://github.com/twolfson/' },
              { 'name': 'portfolio', 'href': 'portfolio' },
              { 'name': 'resume', 'href': 'resume' },
              { 'name': 'blog', 'href': '//blog.twolfson.com/' },
              { 'name': 'contact', 'href': 'contact' }],
            i,
            len,
            navLink,
            navName,
            page;
            
        for( i = 0, len = navLinks.length; i < len; i++ ) {
          navLink = navLinks[i];
          navName = navLink.name;
        %>
        <a href="<%-navLink.href%>" class="link<%=page===navName?' selected':''%>"><%=navName%></a>
      <% } %>
      </nav>
    </header>
    <%- body %>
	</div>
</body>
</html>