<!doctype html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
  <link rel="shortcut icon" href="public/images/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="public/css/index.css"/>
  <%
    if (process.env.NODE_ENV === 'production') {
  %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17165993-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <%
    }
  %>
</head>
<body>
	<div id="globalWrapper">
    <header id="globalHeader" class="layoutRow layoutRowInline layoutRowWide">
      <h1 class="layoutUnit">Todd Wolfson</h1>
      <!-- TODO: Use kerning -->
      <h2 class="layoutUnit"><a href="http://en.wikipedia.org/wiki/ECMAScript">JAVASCRIPT</a> DEVELOPER</h2>
    </header>
    <nav id="globalNav" class="themeEvenRow themeBorder layoutFlipped">
      <ul class="layoutRow layoutRowInline layoutRowTall layoutRowWide">
      <% var navLinks = [
              { "name": "github", "href": "http://github.com/twolfson/" },
              { "name": "portfolio", "href": "portfolio" },
              { "name": "resume", "href": "resume" },
              { "name": "blog", "href": "//blog.twolfson.com/" },
              { "name": "contact", "href": "contact" }],
            i,
            len,
            navLink,
            navName,
            page,
            navClass;
            
        for( i = 0, len = navLinks.length; i < len; i++ ) {
          navLink = navLinks[i];
          navName = navLink.name;
          navClass = page === navName ? "isSelected" : "";
        %>
        <li class="layoutUnit">
          <a href="<%-navLink.href%>" class="<%=navClass%>"><%=navName%></a>
        </li>
      <% } %>
    </nav>
    <%- body %>
    <footer id="globalFooter" class="layoutRow layoutCentered"><div class="layoutUnit layoutSizeFill">
      <div>Site designed and created by Todd Wolfson.</div>
      <div>All rights reserved. &copy;2005-2012</div>
    </div></footer>
	</div>
  <%
    if (process.env.NODE_ENV !== 'production') {
  %>
    <script src="public/js/watcher.js"></script>
    <script src="public/js/collector.js"></script>
    <script>
        (function () {
           var watcher = new FileWatcher(),
               resources = ResourceCollector.collect();
           watcher.addListener(function () {
             location.reload();
           });
           watcher.watch(resources, 8);
        }());
    </script>
  <%
    }
  %>
</body>
</html>