<%
  var config = config || {},
      page = page || config.page;
%>
<!doctype html>
<head>
	<title>Todd Wolfson - Javascript Developer</title>
  <link rel="shortcut icon" href="/public/images/favicon.ico" />
  <!-- Full CSS available at /public/css/index.css -->
	<link rel="stylesheet" type="text/css" media="all" href="/public/css/index.min.css"/>
  <link rel="alternate" type="application/atom+xml" title="twolfson.com blog feed" href="/index.xml" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%
    // If we are in production, enable GA
    if (process.env.NODE_ENV === "production") {
  %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-17165993-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <%
    } else {
    // Otherwise, enable disqus developer mode
  %>
    <script>
      var disqus_developer = 1;
    </script>
  <%
    }
  %>
</head>
<body>
	<div id="globalWrapper">
    <header id="globalHeader" class="l_row">
      <h1 class="globalHeaderHeader l_span4">Todd Wolfson</h1>
      <h2 class="globalHeaderSubHeader l_span4"><a href="http://en.wikipedia.org/wiki/ECMAScript">Javascript</a> Developer</h2>
      <a href="http://github.com/twolfson/" class="githubLink" target="_blank">GitHub</a>
      <a href="http://twitter.com/twolfsn/" class="twitterLink" target="_blank">Twitter</a>
      <a href="/index.xml" class="rssLink" target="_blank">RSS</a>
    </header>
    <nav id="globalNav" class="l_row themeEvenRow themeBorder comfyText">
      <ul class="navList l_spanRight">
      <% var navLinks = [
              /* { "name": "github", "href": "http://github.com/twolfson/" } , */
              { "name": "portfolio", "href": "portfolio" },
              /* { "name": "resume", "href": "resume" }, */
              { "name": "blog", "href": "/" },
              { "name": "contact", "href": "contact" }];

        navLinks.forEach(function (navLink) {
          var navName = navLink.name,
              iSelected = page === navName ? "isSelected" : "";
        %>
        <li class="navListItem l_span">
          <a href="<%-navLink.href%>" class="<%=iSelected%>"><%=navName%></a>
        </li>
      <% }); %>
      </ul>
    </nav>
    <%- body %>
    <footer id="globalFooter">
      <p>
        Built by <a href="/contact">Todd Wolfson</a>. All rights reserved. &copy;2005-2012
      </p>
      <p>
        Powered by <a href="http://expressjs.com/">express</a> and <a href="http://twolfson.github.com/jojo/">jojo</a>
      </p>
    </footer>
	</div>
  <script src="public/js/index.js"></script>
  <%
    if (process.env.NODE_ENV !== "production") {
  %>
    <script src="public/js/watcher.js"></script>
    <script src="public/js/collector.js"></script>
    <script>
        (function () {
          var watcher = new FileWatcher(),
              resources = ResourceCollector.collect();
          watcher.addListener(function (url) {
            // If the updated item is CSS
            if (url.indexOf('css') !== -1) {
              // Grab all of the links
              [].slice.call(document.querySelectorAll('link')).forEach(function (link) {
                // If the link's href matches, update it
                var href = link.href;
                if (href.indexOf(url) !== -1) {
                  link.href = href + (href.indexOf('?') === -1 ? '?' : '') + 1;
                }
              });
            } else {
            // Otherwise, reload
              location.reload();
            }
          });
          watcher.watch(resources, 8);
        }());
    </script>
  <%
    }
  %>
</body>
</html>
