<section id="resumeSection" class="contentSection mainSection">
  <section id="ensightenSection" class="mainSubsection">
    <div class="mainRow size1of1">
      <div class="size1of4 unit">
        <h3>Javascript Developer</h3>
      </div>
      <div class="size3of4 lastUnit timelength">
        <time datetime="2011-05">May 2011</time> - Present
      </div>
    </div>
    <div class="mainRow size1of1">
      <div class="size1of2 unit">
        <div class="size1of1">
          <em>Ensighten LLC, Cupertino, CA</em>
        </div>
        <div class="size1of1">
          <ul>
          <li>Oh, hai</li>
          </ul>
        </div>
      </div>
      <div class="size1of2 lastUnit">
        <!-- TODO: Get Ensighten image -->
        <!-- TODO: Align right" -->
      </div>
    </div>
  </section>
</section>