<div class="container__row"><div class="span12">
  <h1>Support Me</h1>
  <p>
    Thank you for supporting me! I really appreciate any and every donation =)
  </p>
</div></div>
<div class="container__row">
  <!-- TODO: Use sprites -->
  <!-- TODO: Don't use .support-btn or .support-btn-img. These are prototyping only! -->
  <style>
    .support-btn-container {
    }

    .support-btn {
      /* .btn--small? */
      padding: 8px;

      /* .btn--future */
      background: linear-gradient(to bottom, #FFF 0%, #DDD 100%);
      border: 0;

      /* .span3 + float: none + display: inline */
      width: 213px;
    }

    .support-img,
    .support-btn-img {
      /* .valign--text-bottom? */
      vertical-align: text-bottom;
    }
  </style>
  <!-- TODO: Maybe use flexbox for vertical alignment between buttons (should be fine but just in case?) -->
  <!-- TODO: Fix up vertical aligment of images and text within buttons -->
  <div class="span4 support-btn-container text--right">
    <button class="support-btn push--bottom">
      <img src="/public/images/sprites/gittip.png" alt="Gittip logo" class="support-btn-img"/>
      Gittip
    </button>
  </div>
  <div class="span4 support-btn-container text--center">
    <a href="<%= paypalUrl %>">
      <button class="support-btn push--bottom">
        <img src="/public/images/sprites/flattr.png" alt="Flattr logo" class="support-btn-img"/>
        Flattr
      </button>
    </a>
  </div>
  <div class="span4 support-btn-container text--left">
    <a href="<%= paypalUrl %>">
      <button class="support-btn push--bottom">
        <img src="/public/images/sprites/paypal.png" alt="PayPal logo" class="support-btn-img"/>
        PayPal
      </button>
    </a>
  </div>
</div>
<div class="container__row flexbox push--bottom">
  <div class="flexbox__item width1">&nbsp;</div>
  <!-- TODO: Fix up vertical aligment of images and text -->
  <div class="flexbox__item width2">
    <img src="/public/images/sprites/bitcoin.png" alt="Bitcoin logo" class="support-img"/>
    Bitcoin
  </div>
  <div class="flexbox__item width8">
    <pre class="flush--bottom"><code class="no-highlight"><%= donationConfig.bitcoin %></code></pre>
  </div>
</div>
<div class="container__row flexbox push--bottom">
  <div class="flexbox__item width1">&nbsp;</div>
  <!-- TODO: Fix up vertical aligment of images and text -->
  <div class="flexbox__item width2">
    <img src="/public/images/sprites/dogecoin.png" alt="Dogecoin logo" class="support-img"/>
    Dogecoin
  </div>
  <div class="flexbox__item width8">
    <pre class="flush--bottom"><code class="no-highlight"><%= donationConfig.dogecoin %></code></pre>
  </div>
</div>
