/*** Global theming (Color Scheme: http://colorschemedesigner.com/#3K51Jhp--l2Sy) ***/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}html{cursor:default;font-size:100%;overflow-y:scroll;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,form,input,button,select,textarea{font-size:100%;margin:0}a,a:active,a:hover{outline:none}a:focus{outline:thin dotted}abbr{_border-bottom:expression(this.title ? '1px dotted':'none')}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#FF0;color:#000}pre,code,kbd,samp{font-family:monospace,monospace;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small,sub,sup{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}nav ul{list-style:none}audio[controls],canvas,video{display:inline-block;*display:inline}audio{display:none;_display:expression(this.controls ? 'inline':'none');*zoom:1}audio[controls]{display:inline-block}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}legend{*margin-left:-7px}button,input,select,textarea{-webkit-appearance:none;border-radius:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal;_overflow:expression(this.type == 'button|reset|submit' ? 'visible':'')}button,input[type="button"],input[type="reset"],input[type="submit"]{overflow:visible}input[type="checkbox"],input[type="radio"]{box-sizing:border-box}input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}address{display:inline}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background: url('/public/images/white_plaster.png');
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1em;
}

a,
.pseudoLink {
  color: #436DC4;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

fieldset {
  border: 0;
}

/* TODO: Fix padding */
input, textarea {
  padding-left: .2em;
}

label {
  padding-right: .3em;
}

input {
  height: 2em;
}

textarea {
  height: 4em;
}

button {
  cursor: pointer;
}

figure {
  text-align: center;
}

figure img {
  border-radius: 20px;
}

figure figcaption {
  font-size: .8em;
  font-weight: bold;
  line-height: 2em;
  padding-top: .4em;
}

#globalWrapper {
  margin: 0 auto;
  width: 800px;
  min-height: 100%;
  background: #B9CFFF; /* Same as .themeOddRow */
  /* TODO: Cross-browser me */
  box-shadow: 0 0 20px #000000;

  /* Relative position for footer */
  position: relative;
}

#globalWrapper > section {
  padding-bottom: 3.4em; /* Same as .footerSection height + padding-top + border-top-width */
}

#globalNav {
  border-width: 3px 0;
}

#globalFooter {
  position: absolute;
  bottom: 0;

  height: 3em;  /* When height, border, padding, or margin are adjusted, then adjust .globalWrapper > section padding-bottom */
  border-top: 1px solid #000;
  padding-top: .2em;

  /* TODO: Fix padding/margin */
  margin: .1em 25% 0;
  width: 50%;

  text-align: center;
}

/*** Layout classes ***/
.layoutFlipped {
  text-align: right;
}

/* Heavily modified OOCSS (attribution to Nicole Sullivan for initial inspiration and Johnathan Snook for semantics) */
.layoutUnit{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding:5px;}
.layoutRowWide>.layoutUnit{padding-left:7px;padding-right:7px;}
.layoutRowTall>.layoutUnit{padding-top:5px;padding-bottom:5px;}
.layoutRow>.layoutUnit{float:left;}
.layoutRow.layoutRowFlipped{float:right;}
.layoutRow>.layoutUnit+.layoutUnit{padding-left:0;}
.layoutRow{overflow:hidden;}
.layoutRow:after{display:block;visibility:hidden;content:"";height:0;line-height:0;clear:both;}
.layoutRow+.layoutRow>.layoutUnit,.layoutRow.layoutRowStacked>.layoutUnit{padding-top:0;}
.layoutUnit.layoutUnitFull{padding:0;}
.layoutUnit.layoutUnitHardRight{padding-right:0;}
.layoutUnit.layoutUnitNested{padding-top:0;padding-left:0;}
.layoutRow.layoutRowOverflow{overflow:visible;}
.layoutSize1of2{width:50%;}
.layoutSize1of3{width:33.33333%;}
.layoutSize2of3{width:66.66666%;}
.layoutSize1of4{width:25%;}
.layoutSize3of4{width:75%;}
.layoutSize1of5{width:20%;}
.layoutSize2of5{width:40%;}
.layoutSize3of5{width:60%;}
.layoutSize4of5{width:80%;}
.layoutSizeFill{width:auto;}
.layoutRow>.layoutUnit.layoutSizeFill{float:none;}

/* Inline row extension */
.layoutRow.layoutRowInline > .layoutUnit {
  display: inline;
  float: none;
}

/* TODO: This will not scale and is not accurate */
.layoutRow.layoutRowInline.layoutRowTall {
  margin-top: 5px;
  margin-bottom: 5px;
}

/*** Module classes ***/
/* Border class */
.themeBorder {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

/* Increased border width for inputs */
input.themeBorder,
textarea.themeBorder,
button.themeBorder {
  border-width: 2px;
}

/* Row striping with border class overload */
.themeOddRow {
  background: #B9CFFF;
}
.themeOddRow.themeBorder {
  border-color: #7E9AD5;
}

.themeEvenRow {
  background: #C0BBFF;
}
.themeEvenRow.themeBorder {
  border-color: #8882D5;
}

/* TODO: Fix this */
.themeEvenRow .contentLine:first-child,
.themeOddRow .contentLine:first-child {
  padding-top: 8px;
}

/* List module */
.bulletList li:before {
  content: "\00BB\00A0";
  margin-left: 0.1em;
}

/* Featured item module */
.featureItem {
  background: #B4E8FF;
  /* color: #000; */
  padding: 5px 0;
}

/* Line fill module */
.fillLine {
  width: 100%;
}

/*** State classes ***/
a:focus,
a:hover,
a:active,
a.isSelected,
.psuedoLink:hover {
  outline: 0;
  color: #4F46C4;
  text-decoration: underline;
}

.featureItem:hover {
  background: #E2F6FF;
  /* color: #4F46C4; */
}

/* TODO: Fix these */
/* Portfolio page */
#portfolioSection h2 {
  font-size: 1.6em;
  line-height: 1em;
  text-align: center;
}

#portfolioSection h3 {
  font-size: 1.3em;
  line-height: 1em;
}


/* Selective underlining for anchors */
#portfolioSection a:hover,
#portfolioSection .pseudoLink:hover {
  text-decoration: none;
}

#portfolioSection a:hover h3,
#portfolioSection .pseudoLink:hover h3 {
  text-decoration: underline;
}

#portfolioSection figure {
  border-radius: 20px;
  margin: 0 auto;
  width: 95%;
}

#portfolioSection figure a {
  display: block;
  width: 100%;
}

#portfolioSection img {
  height: 170px;
  border-radius: 0;
}

/* Resume page */
#resumeSection .timelength {
  text-align: right;
}

/* Contact Page */
#contactFieldset legend {
  font-size: 1.6em;
}

#contactForm input,
#contactForm button,
#contactForm textarea {
  margin-top: 1em;
}

#contactForm .submitLine {
  margin-left: .5em;
  margin-right: .5em;
  text-align: center;
}

#contactForm button {
  padding: 1em;
  border-radius: 5px;
}