/* OOCSS (attribution to Nicole Sullivan) */
.line,.lastUnit{overflow:hidden; *overflow:visible;*zoom:1;}
.unit{float:left;}
.unitRight{float:right;}
.size1of1{float:none;width:100%;}
.size1of2{width:50%;}
.size1of3{width:33.33333%;}
.size2of3{width:66.66666%;}
.size1of4{width:25%;}
.size3of4{width:75%;}
.size1of5{width:20%;}
.size2of5{width:40%;}
.size3of5{width:60%;}
.size4of5{width:80%;}
.lastUnit{float:none;width:auto;_position:relative;_left:-3px;_margin-right:-3px;}
.line:after,.lastUnit:after{content: " ";display: block;height: 0;clear: both;visibility: hidden;}

/* Full document theming (Color Scheme: http://colorschemedesigner.com/#46528b3--sm001G5K-3FRS54MXIX) */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:link,
a:focus,
a:visited {
  color: #7A73AF;
}

a:hover,
#navBar .link:hover,
#navBar .link.selected {
  color: #595380;
}

/* Light blue bg */
#resumeSection .oddRow,
#contactForm #info {
  background: #e2f1f5;
}

/* Slightly darker blue bg */
#resumeSection .evenRow,
#contactForm #name, 
#contactForm #message {
  background: #DEDAF8;
}

/* General purpose classes */
.contentSection {
  padding: 0.5em;
}

.inlineBlock{
  display:inline-block;
}

.textRight {
  text-align: right;
}

/* Specific properties */
body {
  background: url('/public/images/elastoplast.png');
  height: 100%;
}

#wrapper {
  margin: 0 auto;
  width: 800px;
  min-height: 100%;
  background: #EEE;
  /* TODO: Cross-browser me */
  box-shadow: 0 0 20px #000000;
}

/* Header specific */
#headerSection .header {
  margin-left: .3em;
  line-height: 1.4em;
  font-size: 2.2em;
}

#headerSection .subheader {
  margin-left: .2em;
  font-size: 1em;
}

#headerSection .jsText {
  color: #693B7E;
}

/* Navbar specific */
#navBar {
  border-width: 3px 0;
  border-style: solid;
  border-color: #DDD0FF;
  text-align: right;
  padding-top: .1em;
  padding-bottom: .3em;
  background: #ECECFF;
}

#navBar .link {
  margin-right: .3em;
  text-decoration: none;
  font-weight: bold;
}

#navBar .link:hover,
#navBar .link.selected {
  text-decoration: underline;
}

/* Resume page */
#resumeSection .timelength {
  text-align: right;
}

/* Contact Page */
#contactFieldset {
  border: 0;
}

#contactFieldset legend {
  padding: 0 .6em;
  margin-left: .4em;
  font-size: 1.6em;
}

#contactForm .line {
  line-height: 4em;
}

#contactForm label {
  padding-right: .3em;
}

#contactForm input {
  height: 2em;
  margin-top: 1em;
}

#contactForm textarea {
  height: 4em;
  margin-top: 1em;
}

#contactForm .submitLine {
  margin: .5em 0 1em;
  text-align: center;
}

#contactForm button {
  padding: 1em;
}

#picContainer {
  text-align: center;
}

#picContainer img {
  border-radius: 20px;
  box-shadow: 0 0 10px #FFF;
}

#picContainer figcaption {
  font-size: .8em;
  font-weight: bold;
  line-height: 2em;
}