/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */

$off-black: #1A1A1A;

/* TODO: Add CSS optimizer to build chain (perfect use case perceptual diffs) */
/* Color Scheme: http://colorschemedesigner.com/#3K51Jhp--l2Sy */
/* TODO: Find out what colors these are and 2-color scheme it up */
$link-color: #325192;
$link-hover-color: #3972ED;
$text-color: $off-black;

/* Background variants */
$dark-bg: #FFF;
$dark-border: #666;
$light-bg: #FFF;
$light-border: #666;

$feature-bg: #B4E8FF;
$feature-bg-selected: #E2F6FF;

$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: "Ubuntu Mono", Monaco, Menlo, Consolas, "Courier New", monospace;

$base-border-width: 2px;

// Scale up all fonts such that a blog post is ~75 characters per line
$font-scale: 18 / 16;
// $font-scale: 1;
$base-font-size: 16px * $font-scale;
$base-line-height: 24px * $font-scale;

$giga-size:         96px * $font-scale;
$mega-size:         72px * $font-scale;
$kilo-size:         48px * $font-scale;

$h1-size:           36px * $font-scale; // .alpha
$h2-size:           30px * $font-scale; // .beta
$h3-size:           24px * $font-scale; // .gamma
$h4-size:           20px * $font-scale; // .delta
$h5-size:           16px * $font-scale; // .epsilon
$h6-size:           14px * $font-scale; // .zeta

$milli-size:        12px * $font-scale;
$micro-size:        10px * $font-scale;

$base-ui-color: $off-black;
$base-font-family: $sans-font-family;

// Use Lato for 'Todd Wolfson' header text
$brand-face: "Lato", $sans-font-family;
$brand-color: inherit;

// Setup for highlight-extensions
$code-inline-spacing: 9px;
$code-bg: #f8f8ff;

// A little muted to reduce emphasis
$aside-color: #525252;
// A little lighter than code (sod inner blocks can be distinguished)
$aside-bg: #FEFEFE;
// A little darker than $code-bg
$aside-margin-bg: #A4A0A2;
$aside-inline-spacing: 9px;
$aside-margin-width: 5px;

// TODO: Verify <aside> is properly sized and maybe a little muted
// TODO: It should definitely have a white bg with the | on the left

// TODO: Hard or rounded corners for code fences
$base-border-radius: 3px;

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */





/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
