/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
// Define colors in 2 phases
// First phase: Colors to human friendly name
// Second phase: Human friendly name to element property value
// DEV: This is to consolidate similar colors and keep a reusable palette
//   while preventing a single element color change from affecting other elements

// Colors
// Please base names off of https://en.wikipedia.org/wiki/Color_Naming_System
// Grayscale from black to white
$gray-x1A: #1A1A1A;

// Rainbow (red, orange, yellow, green, blue, indigo, violet)


// Color mappings
$link-color: #1C79C4;
$link-hover-color: #3972ED;
$text-color: $off-black;

/* Background variants */
$base-background: #FDFDFD;
$base-border-color: #666;
$dark-border-color: #444;

$feature-bg: #B4E8FF;
$feature-bg-selected: #E2F6FF;

// Setup for highlight-extensions
// TODO: Relocate spacing definitions
$code-inline-spacing: 9px;
$code-bg: #F7F7F7;
$code-border: #DDDDDD;

// A little muted to reduce emphasis
$aside-color: #525252;
// A little lighter than code (so inner blocks can be distinguished)
$aside-bg: #F2F2F2;
// A little darker than $code-bg
$aside-margin-bg: #A4A0A2;
// TODO: Relocate spacing definitions
$aside-inline-spacing: 9px;
$aside-margin-width: 5px;

$btn-bg: #F2F2F2;
$btn-bg--hover: #E7E7E7;

// Fonts
$sans-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif-font-family: Georgia, "Times New Roman", Times, serif;
$mono-font-family: "Ubuntu Mono", Monaco, Menlo, Consolas, "Courier New", monospace;

// Scale up all fonts such that a blog post is ~75 characters per line
$font-scale: 18 / 16;
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L45-L46
$base-font-size: 16px * $font-scale;
$base-line-height: 24px * $font-scale;

// https://github.com/csswizardry/inuit.css/blob/v5.0.1/_defaults.scss#L111-L129
$giga-size: 96px * $font-scale;
$mega-size: 72px * $font-scale;
$kilo-size: 48px * $font-scale;

$h1-size: 36px * $font-scale; // .alpha
$h2-size: 30px * $font-scale; // .beta
$h3-size: 24px * $font-scale; // .gamma
$h4-size: 20px * $font-scale; // .delta
$h5-size: 16px * $font-scale; // .epsilon
$h6-size: 14px * $font-scale; // .zeta

$milli-size: 12px * $font-scale;
$micro-size: 10px * $font-scale;

// TODO: Ditch `base-ui-color`, it's a very vague name...
$base-ui-color: $off-black;
$base-border-width: 2px;
$base-font-family: $sans-font-family;

// Use Lato for 'Todd Wolfson' header text
$brand-face: "Lato", $sans-font-family;
$brand-color: inherit;

// TODO: Verify <aside> is properly sized and maybe a little muted
// TODO: It should definitely have a white bg with the | on the left

// TODO: Hard or rounded corners for code fences
$base-border-radius: 3px;

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;
