extend layout

block content
  .container__row.push--top
    .span12.cluster.cluster--aggressive
      h1 404
      p
        strong Error 404
        = ": The page you are looking for could not be found."
      p
        = "Here is a "
        a(href="javascript:history.back(-1);") link to the previous page
        = "."
