.container__row.push--top
  .span12.cluster.cluster--aggressive
    h1 Server error
    p An error occurred while loading this page. We have been notified and are looking into the issue.
    p
      = "Here is a "
      a(href="javascript:history.back(-1);") link to the previous page
      = "."
