#contact
  form.hard--left(method="POST", action="/contact")
    .container__row
      .width12
        h2.text--center.soft-half--top.flush--bottom Contact
    .container__row
      .width10.float--left
        //- If there was no submission attempt
        if locals.emailStatus === null
          p To contact me, please enter your details below:
          .flexbox.push--bottom
            .flexbox__item.width2
              label.text--right(for="name", required="required") Name:&nbsp;
            .flexbox__item.width6
              input#name.span7.flush--left(name="name", type="text")
          .flexbox.push--bottom
            .flexbox__item.width2
              label.text--right(for="info", required="required") Contact info:&nbsp;
            .flexbox__item.width6
              input#info.span7.flush--left(name="info", type="text")
          .flexbox.push--bottom
            .flexbox__item.width2
              label.text--right(for="message", required="required") Message:&nbsp;
            .flexbox__item.width6
              textarea#message.span7.flush--left(name="message", rows="3")
        else if locals.emailStatus === true
          //- Otherwise, if the submission was a success
          p.text--center
            //- TODO: Remove whitespace fix
            = "Thank you for contacting me! "
            br
            | I will respond to your request within 48 hours. Have a nice day!
        else
          p.text--center
            | Ouch! An error seems to have occurred.
            br
            a(href="javascript:location.reload();") Could you please try that again?
      //- TODO: Did we never create anything better for grids? This is awful =(
      .width2.float--left
        .text--center
          p
            img(src="/public/images/todd.jpg", alt="Photograph of Todd Wolfson taken by A.J. Wax")
            br
            a(href="http://www.aaronwax.com/") Photograph taken by A.J. Wax
    if locals.emailStatus === null
      .container__row
        .width12
          .text--center
            button#submitButton.btn.btn--huge(type="submit") Contact Todd
