extend layout

block config
  - var page = 'contact';
  - var title = 'Todd Wolfson - Contact';
  - var seoKeywords = 'contact, email, Todd Wolfson, twolfson, twolfsn';
  - var seoDescription = 'Contact Todd Wolfson via a form';

  //- TODO: Remove `navMargin` altogether by making design consistent
  - locals.navMargin = false;

block content
  #contact.push--bottom
    .container__row
      .width12
        h2.text--center.soft-half--top.flush--bottom Contact
    .container__row
      .width10.float--left
        p You can contact me via the following methods:
        p
          = "Email: "
          a(href="mailto:todd@twolfson.com") todd@twolfson.com
        p
          = "Twitter: "
          a(href="https://twitter.com/twolfsn/") @twolfsn
      //- TODO: Did we never create anything better for grids? This is awful =(
      .width2.float--left
        .text--center
          p
            img(src="/public/images/todd.jpg", alt="Photograph of Todd Wolfson taken by A.J. Wax")
            br
            a(href="http://www.aaronwax.com/") Photograph taken by A.J. Wax
