extend layout

block config
  - var page = 'license';
  - var title = 'Todd Wolfson - License';
  - var seoKeywords = 'license, mit';
  - var seoDescription = 'twolfson.com uses the MIT License';

block content
  .row
    .span12
      h1 License
      pre
        code.no-highlight= license
