#projects.push--bottom
  div
    .projects__section
      div
        //- TODO: Is there a pattern for half-top/half-bottom
        //- TODO: When cauterizing patterning, search for half-ends too
        h2.text--center.soft-half--top.soft-half--bottom.flush--bottom Scripts
      for item in projects.scripts
        div
          != partial('projects/script.jade', item)
    .projects__section
      div
        h2.text--center.soft-half--top.soft-half--bottom.flush--bottom Competitions
      for item, i in projects.competitions
        //- Emulate step 2 by skipping all odd numbers (e.g. skip `1` for [0, 1])
        if i % 2 == 1
          continue

        //- If there are 2 items on this row, split them side by side
        - var complementItem = projects.competitions[i + 1];
        if complementItem
          div
            .container__row
              != partial('projects/competition.jade', item)
              != partial('projects/competition.jade', complementItem)
        else
          //- Otherwise, render a long item
          div
            .container__row
              //- != partial('projects/competitionThin.jade', item)
    .projects__section
      div
        h2.text--center.soft-half--top.soft-half--bottom.flush--bottom Contributions
      for item in projects.contributions
        div
          != partial('projects/script.jade', item)
