extend layout

//- TODO: Update SEO content

block config
  - var page = 'support-me';
  - var title = 'Todd Wolfson - Support me';
  - var seoKeywords = 'Todd Wolfson, twolfson, twolfsn, support me, flattr, paypal, bitcoin, dogecoin';
  - var seoDescription = 'Support Todd Wolfson via Gratipay, Flattr, PayPal, Bitcoin, and Dogecoin';

  //- TODO: Remove `navMargin` altogether by making design consistent
  - locals.navMargin = false;

block content
  .container__row
    .width12
      h2.text--center.soft-half--top.flush--bottom Support me
      p Support me and my open source projects by donating via one of the methods below:
  .container__row
    .span4.text--left
      a(href=supportUrls.paypal)
        button.inline-span3.btn.btn--medium.row--bordered.push--bottom
          img.valign--text-bottom(src="/public/images/support/paypal.png", alt="PayPal logo")
          = " PayPal"
