body {
  background: url('/public/images/white_plaster.png');
  color: $text-color;
}

code {
  font-family: $mono-font-family;
  // Prevent orphaned sections of code (see git-sqwish)
  display: inline-block;
}

// Undo blockquote defaults, go with github style of asides
blockquote {
  quotes: "" ""; }
  blockquote p:before {
    content: ""; }
  blockquote p:after {
    content: ""; }
  blockquote q:before {
    content: "‘";
    content: open-quote; }
  blockquote q:after {
    content: "’";
    content: close-quote; }

blockquote {
  text-indent: 0; }

blockquote,
.aside {
  color: $aside-color;
  background: $aside-bg;
  border-left: $aside-margin-width solid $aside-margin-bg;
  padding-left: $aside-inline-spacing;
  padding-right: $aside-inline-spacing;
}

// Round all the things
img, // Article + contact
code, // Article (inline + block)
input, // Contact
button, // Contact
.rounded {
  border-radius: $base-border-radius;
}

a,
.link,
.link--underline {
  font-weight: bold;
  text-decoration: none;

  &,
  &:visited {
    color: $link-color;
  }

  &:hover {
    @extend .link--active;
  }
}

.link--active {
  color: $link-hover-color;
  text-decoration: underline;
}

// TODO: Test this style further
.link--underline:hover {
  text-decoration: none;
  border-bottom: 1px solid $link-hover-color;
}

button {
  cursor: pointer;
}

#global-wrapper {
  margin: 0 auto;
  background: $dark-bg;
  @include box-shadow(0 0 20px #000000);
}

.row--bordered {
  border-color: $light-border;
  border-style: solid;
  border-width: $base-border-width;
}

.row--bordered--ends {
  @extend .row--bordered;
  border-width: 0;
  border-top-width: $base-border-width;
  border-bottom-width: $base-border-width;
}

/* TODO: Rename these to normal and alt */
.row--light {
  background: $light-bg;
  border-color: $light-border;
}

.row--dark {
  background: $dark-bg;
  border-color: $dark-border;
}

/* Navbar styling */
/* TODO: Relocate these */
.nav {
  margin: 0;
  list-style: none;
  // TODO: This is definitely *not* scalable
  line-height: 1.5 * $base-spacing-unit - 2 * $base-border-width;
}

.nav--item {
  float: left;
  margin-left: $base-spacing-unit;
}

/* Helper for centering */
.center--center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.align--baseline {
  vertical-align: baseline;
}

// TODO: Add back code highlighting
// TODO: Verify <aside> is proper size
// TODO: Allow wide format for articles like Develop Faster

.cluster {
  // Provide double margin on the bottom of the cluster
  margin-bottom: $base-spacing-unit * 1.5;

  // Imply the content is well-packed by making header and first paragraph close
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: $half-spacing-unit;
  }
}

.cluster--aggressive {
  @extend .cluster;
  p {
    margin-bottom: $half-spacing-unit;
  }
}

// Ignore content flow by breaking it out of the static layer
// Used on projects page for numbers that leak into the gutter
.ignore-flow {
  position: absolute;
}