body {
  background: url('/public/images/white_plaster.png');
  color: $text-color;
}

a,
.link {
  font-weight: bold;
  text-decoration: none;

  &,
  &:visited {
    color: $link-color;
  }

  &:hover {
    @extend .link--active;
  }
}

.link--active {
  color: $link-hover-color;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

#global-wrapper {
  margin: 0 auto;
  background: $dark-bg;
  @include box-shadow(0 0 20px #000000);
}

.row--bordered {
  border-color: $light-border;
  border-style: solid;
  border-width: 2px;
}

.row--bordered--ends {
  @extend .row--bordered;
  border-width: 0;
  border-top-width: 2px;
  border-bottom-width: 2px;
}

/* TODO: Rename these to normal and alt */
.row--light {
  background: $light-bg;
  border-color: $light-border;
}

.row--dark {
  background: $dark-bg;
  border-color: $dark-border;
}

/* Navbar styling */
/* TODO: Relocate these */
.nav {
  margin: 0;
  list-style: none;
}

.nav--item {
  line-height: 32px;
  float: left;
  margin-left: $base-spacing-unit;
}

/* Helper for centering */
.center--center {
  margin-left: auto !important;
  margin-right: auto !important;
}

.align--baseline {
  vertical-align: baseline;
}

// TODO: Add back code highlighting
// TODO: Verify <aside> is proper size
// TODO: Allow wide format for articles like Develop Faster

.cluster {
  // Provide double margin on the bottom of the cluster
  @extend .landmark;

  // Imply the sense that the content is well-packed
  h1,h2,h3,h4,h5,h6 {
    margin-bottom: $base-spacing-unit / 2;
  }
}