@use "sass:math";
// Body declarations
body {
  background: $base-background;
  color: $body-color;
}

#global-wrapper {
  margin: 0 auto;
}

// Style all `pre` blocks to act as code blocks
pre {
  white-space: pre;
  background: $code-bg;
  border: 1px solid $code-border;

  code {
    border: 0;
  }
}

code {
  font-family: $mono-font-family;
  // Prevent orphaned sections of code (see git-sqwish)
  display: inline-block;
}

// Undo blockquote defaults, go with github style of asides
blockquote {
  quotes: "" ""; }
  blockquote p:before {
    content: ""; }
  blockquote p:after {
    content: ""; }
  blockquote q:before {
    content: "‘";
    content: open-quote; }
  blockquote q:after {
    content: "’";
    content: close-quote; }

blockquote {
  text-indent: 0; }

blockquote,
.aside {
  color: $aside-color;
  background: $aside-bg;
  border-left: $aside-gutter-width solid $aside-gutter-bg;
  padding-left: $aside-inline-spacing;
  padding-right: $aside-inline-spacing;
}

// Round all the things
img, // Article + contact
pre, // Article (block)
code, // Article (inline)
input, // Contact
button, // Contact
textarea, // Contact
.rounded {
  border-radius: $base-border-radius;
}

// Links
a,
.link,
.link--underline {
  font-weight: bold;
  text-decoration: none;
  @include transition(color 0.15s ease-in-out);

  &,
  &:visited {
    color: $link-color;
  }

  &:hover {
    @extend .link--active;
  }
}

.link--active {
  color: $link-hover-color;
  text-decoration: underline;
}

.link--underline:hover {
  & {
    text-decoration: none;
    border-bottom: 1px solid $link-hover-color;
  }
}

.link--hidden {
  &,
  &:visited,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.link--hover-only {
  &,
  &:visited {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    @extend .link--active;
  }
}

// Buttons
button {
  cursor: pointer;
}

// Consistently style all <hr>s
// https://github.com/csswizardry/inuit.css/blob/v5.0.1/objects/_rules.scss#L12-L19
hr {
  color: $hr-color;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: $base-spacing-unit - 1px;
  margin-bottom: math.div(($base-spacing-unit - 1px), $base-font-size)*1rem;
}
