// Include spritesheet variables/mixins
@import "sprites-auto";

// Generate CSS equivalent of sprite info
/*
.icon-purple-fork {
  background-image: url(../images/sprites.png);
  background-position: -128px -148px;
  width: 32px;
  height: 32px;
}
*/
$retina-pairs: $bar-lines, $eye, $github, $heart, $purple-fork, $purple-star, $ribbon, $rss, $twitter;

// TODO: Consider renaming sprite pairs to retina pairs
@each $sprite-pair in $retina-pairs {
  $sprite-name: nth(nth($sprite-pair, 1), 10);
  .#{$sprite-name} {
    @include sprite-pair($sprite-pair);
  }
}

// Perform overrides for visual customization
.icon-bar-lines,
.icon-eye,
.icon-github,
.icon-heart,
.icon-purple-fork,
.icon-purple-star,
.icon-ribbon,
.icon-rss,
.icon-star,
.icon-twitter {
  font-size: 32px;
  line-height: 32px;
  padding-left: 32px;
  vertical-align: middle;
  margin-right: 7px;
}

.icon-purple-star,
.icon-purple-fork {
  margin-right: 0;
}

.icon-ribbon {
  margin-right: 2px;
}
