/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-bar-lines {
  background-image: url(../images/sprites.png);
  background-position: -224px -177px;
  width: 32px;
  height: 32px;
}
.icon-bitcoin {
  background-image: url(../images/sprites.png);
  background-position: -313px -95px;
  width: 25px;
  height: 25px;
}
.icon-dogecoin {
  background-image: url(../images/sprites.png);
  background-position: -388px -20px;
  width: 25px;
  height: 25px;
}
.icon-eye {
  background-image: url(../images/sprites.png);
  background-position: -32px -369px;
  width: 32px;
  height: 32px;
}
.icon-flattr {
  background-image: url(../images/sprites.png);
  background-position: -363px -45px;
  width: 25px;
  height: 25px;
}
.icon-github {
  background-image: url(../images/sprites.png);
  background-position: -192px -209px;
  width: 32px;
  height: 32px;
}
.icon-gittip {
  background-image: url(../images/sprites.png);
  background-position: -338px -70px;
  width: 25px;
  height: 25px;
}
.icon-heart {
  background-image: url(../images/sprites.png);
  background-position: -256px -145px;
  width: 32px;
  height: 32px;
}
.icon-paypal {
  background-image: url(../images/sprites.png);
  background-position: -288px -120px;
  width: 25px;
  height: 25px;
}
.icon-purple-fork {
  background-image: url(../images/sprites.png);
  background-position: -160px -241px;
  width: 32px;
  height: 32px;
}
.icon-purple-star {
  background-image: url(../images/sprites.png);
  background-position: -128px -273px;
  width: 32px;
  height: 32px;
}
.icon-ribbon {
  background-image: url(../images/sprites.png);
  background-position: -96px -305px;
  width: 32px;
  height: 32px;
}
.icon-rss {
  background-image: url(../images/sprites.png);
  background-position: -64px -337px;
  width: 32px;
  height: 32px;
}
.icon-star {
  background-image: url(../images/sprites.png);
  background-position: -413px 0px;
  width: 21px;
  height: 20px;
}
.icon-twitter {
  background-image: url(../images/sprites.png);
  background-position: 0px -401px;
  width: 32px;
  height: 32px;
}
