/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$github-name: 'github';
$github-x: 128px;
$github-y: 0px;
$github-offset-x: -128px;
$github-offset-y: 0px;
$github-width: 32px;
$github-height: 32px;
$github-total-width: 160px;
$github-total-height: 160px;
$github-image: '../images/sprites.png';
$github: (128px, 0px, -128px, 0px, 32px, 32px, 160px, 160px, '../images/sprites.png', 'github', );
$purple-fork-name: 'purple-fork';
$purple-fork-x: 96px;
$purple-fork-y: 32px;
$purple-fork-offset-x: -96px;
$purple-fork-offset-y: -32px;
$purple-fork-width: 32px;
$purple-fork-height: 32px;
$purple-fork-total-width: 160px;
$purple-fork-total-height: 160px;
$purple-fork-image: '../images/sprites.png';
$purple-fork: (96px, 32px, -96px, -32px, 32px, 32px, 160px, 160px, '../images/sprites.png', 'purple-fork', );
$purple-star-name: 'purple-star';
$purple-star-x: 64px;
$purple-star-y: 64px;
$purple-star-offset-x: -64px;
$purple-star-offset-y: -64px;
$purple-star-width: 32px;
$purple-star-height: 32px;
$purple-star-total-width: 160px;
$purple-star-total-height: 160px;
$purple-star-image: '../images/sprites.png';
$purple-star: (64px, 64px, -64px, -64px, 32px, 32px, 160px, 160px, '../images/sprites.png', 'purple-star', );
$rss-name: 'rss';
$rss-x: 32px;
$rss-y: 96px;
$rss-offset-x: -32px;
$rss-offset-y: -96px;
$rss-width: 32px;
$rss-height: 32px;
$rss-total-width: 160px;
$rss-total-height: 160px;
$rss-image: '../images/sprites.png';
$rss: (32px, 96px, -32px, -96px, 32px, 32px, 160px, 160px, '../images/sprites.png', 'rss', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 128px;
$twitter-offset-x: 0px;
$twitter-offset-y: -128px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 160px;
$twitter-total-height: 160px;
$twitter-image: '../images/sprites.png';
$twitter: (0px, 128px, 0px, -128px, 32px, 32px, 160px, 160px, '../images/sprites.png', 'twitter', );
$github-2x-name: 'github-2x';
$github-2x-x: 256px;
$github-2x-y: 0px;
$github-2x-offset-x: -256px;
$github-2x-offset-y: 0px;
$github-2x-width: 64px;
$github-2x-height: 64px;
$github-2x-total-width: 320px;
$github-2x-total-height: 320px;
$github-2x-image: '../images/sprites-2x.png';
$github-2x: (256px, 0px, -256px, 0px, 64px, 64px, 320px, 320px, '../images/sprites-2x.png', 'github-2x', );
$purple-fork-2x-name: 'purple-fork-2x';
$purple-fork-2x-x: 192px;
$purple-fork-2x-y: 64px;
$purple-fork-2x-offset-x: -192px;
$purple-fork-2x-offset-y: -64px;
$purple-fork-2x-width: 64px;
$purple-fork-2x-height: 64px;
$purple-fork-2x-total-width: 320px;
$purple-fork-2x-total-height: 320px;
$purple-fork-2x-image: '../images/sprites-2x.png';
$purple-fork-2x: (192px, 64px, -192px, -64px, 64px, 64px, 320px, 320px, '../images/sprites-2x.png', 'purple-fork-2x', );
$purple-star-2x-name: 'purple-star-2x';
$purple-star-2x-x: 128px;
$purple-star-2x-y: 128px;
$purple-star-2x-offset-x: -128px;
$purple-star-2x-offset-y: -128px;
$purple-star-2x-width: 64px;
$purple-star-2x-height: 64px;
$purple-star-2x-total-width: 320px;
$purple-star-2x-total-height: 320px;
$purple-star-2x-image: '../images/sprites-2x.png';
$purple-star-2x: (128px, 128px, -128px, -128px, 64px, 64px, 320px, 320px, '../images/sprites-2x.png', 'purple-star-2x', );
$rss-2x-name: 'rss-2x';
$rss-2x-x: 64px;
$rss-2x-y: 192px;
$rss-2x-offset-x: -64px;
$rss-2x-offset-y: -192px;
$rss-2x-width: 64px;
$rss-2x-height: 64px;
$rss-2x-total-width: 320px;
$rss-2x-total-height: 320px;
$rss-2x-image: '../images/sprites-2x.png';
$rss-2x: (64px, 192px, -64px, -192px, 64px, 64px, 320px, 320px, '../images/sprites-2x.png', 'rss-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 0px;
$twitter-2x-y: 256px;
$twitter-2x-offset-x: 0px;
$twitter-2x-offset-y: -256px;
$twitter-2x-width: 64px;
$twitter-2x-height: 64px;
$twitter-2x-total-width: 320px;
$twitter-2x-total-height: 320px;
$twitter-2x-image: '../images/sprites-2x.png';
$twitter-2x: (0px, 256px, 0px, -256px, 64px, 64px, 320px, 320px, '../images/sprites-2x.png', 'twitter-2x', );
$spritesheet-width: 160px;
$spritesheet-height: 160px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($github, $purple-fork, $purple-star, $rss, $twitter, );
$spritesheet: (160px, 160px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 320px;
$retina-spritesheet-height: 320px;
$retina-spritesheet-image: '../images/sprites-2x.png';
$retina-spritesheet-sprites: ($github-2x, $purple-fork-2x, $purple-star-2x, $rss-2x, $twitter-2x, );
$retina-spritesheet: (320px, 320px, '../images/sprites-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$github-group-name: 'github';
$github-group: ('github', $github, $github-2x, );
$purple-fork-group-name: 'purple-fork';
$purple-fork-group: ('purple-fork', $purple-fork, $purple-fork-2x, );
$purple-star-group-name: 'purple-star';
$purple-star-group: ('purple-star', $purple-star, $purple-star-2x, );
$rss-group-name: 'rss';
$rss-group: ('rss', $rss, $rss-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$retina-groups: ($github-group, $purple-fork-group, $purple-star-group, $rss-group, $twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
