.spriteIco, .githubIco, .twitterIco, .rssIco, .purpleStarIco, .purpleForkIco, .eyeIco, .heartIco, .ribbonIco, .barLinesIco {
	background: url(../images/sprites.png) no-repeat;
}

.purpleStarIco, .purpleForkIco, .eyeIco, .heartIco, .ribbonIco, .barLinesIco {
  font-size: 32px;
  line-height: 32px;
  padding-left: 32px;
  vertical-align: middle;
  margin-right: 7px;
}

.purpleStarIco {
	margin-right: 5px;
}

.ribbonIco {
	margin-right: 2px;
}

.githubIco {
  // background-position: @githubIco-offset-x @githubIco-offset-y;
  .sprite-position(@githubIco);
  // background-position: 0 0;
  width: 32px;
  height: 32px;
}

.twitterIco {
  background-position: 0 -50px;
  width: 32px;
  height: 32px;
}

.rssIco {
  background-position: 0 -100px;
  width: 32px;
  height: 32px;
}

.purpleStarIco {
  background-position: 0 -150px;
  width: 32px;
  height: 32px;
}

.purpleForkIco {
  background-position: 0 -200px;
  width: 32px;
  height: 32px;
}

.eyeIco {
  background-position: 0 -250px;
  width: 32px;
  height: 32px;
}

.heartIco {
  background-position: 0 -300px;
  width: 32px;
  height: 32px;
}

.ribbonIco {
  background-position: 0 -350px;
  width: 32px;
  height: 32px;
}

.barLinesIco {
  background-position: 0 -400px;
  width: 32px;
  height: 32px;
}