@githubIco-width: 32px;
@githubIco-height: 32px;
@githubIco-x: 0;
@githubIco-y: 180px;
@githubIco-offset-x: 0;
@githubIco-offset-y: -180px;
@githubIco: 32px 32px 0 -180px;

.sprite-width(@name) {
  width: ~`"@{name}".split(', ')[0].slice(1)`;
}

.sprite-height(@name) {
  height: ~`"@{name}".split(', ')[1]`;
}

.sprite-position(@name) {
  @name-offset-x: ~`"@{name}".split(', ')[2]`;
  @name-offset-y: ~`"@{name}".split(', ')[3].slice(0, -1)`;
  background-position: @name-offset-x  @name-offset-y;
}

.sprite-image() {
  background-image: url('../images/sprites.png') no-repeat;
}

.sprite(@name) {
  .sprite-image();
  .sprite-position(@name);
  .sprite-width(@name);
  .sprite-height(@name);
}

// {
//     "width": 32,
//     "height": 32,
//     "x": 0,
//     "y": 180,
//     "offset_x": 0,
//     "offset_y": -180,
//     "px": {
//         "x": "0px",
//         "y": "180px",
//         "offset_x": "0px",
//         "offset_y": "-180px",
//         "height": "32px",
//         "width": "32px"
//     }
// };