.icon-bar-lines {
  background-image: url(../images/sprites.png);
  background-position: -256px -20px;
  width: 32px;
  height: 32px;
}
.icon-eye {
  background-image: url(../images/sprites.png);
  background-position: -224px -52px;
  width: 32px;
  height: 32px;
}

// TODO: Put this outside
.icon-bar-lines,
.icon-eye,
.icon-github,
.icon-heart,
.icon-purple-fork,
.icon-purple-star,
.icon-ribbon,
.icon-rss,
.icon-star,
.icon-twitter {
  display: inline-block;
}

.icon-purple-fork {
  width: 32px;
  height: 32px;
  position: relative;
}

.icon-github {
  background-image: url(../images/sprites.png);
  background-position: -192px -84px;
  width: 32px;
  height: 32px;
}
.icon-heart {
  background-image: url(../images/sprites.png);
  background-position: -160px -116px;
  width: 32px;
  height: 32px;
}
.icon-purple-fork:after {
  position: absolute;
  display: block;
  content: " ";
  background-image: url(../images/sprites.png);
  background-position: -128px -148px;
  width: 32px;
  height: 32px;
}
.icon-purple-star {
  background-image: url(../images/sprites.png);
  background-position: -96px -180px;
  width: 32px;
  height: 32px;
}
.icon-ribbon {
  background-image: url(../images/sprites.png);
  background-position: -64px -212px;
  width: 32px;
  height: 32px;
}
.icon-rss {
  background-image: url(../images/sprites.png);
  background-position: -32px -244px;
  width: 32px;
  height: 32px;
}
.icon-star {
  background-image: url(../images/sprites.png);
  background-position: -288px 0px;
  width: 21px;
  height: 20px;
}
.icon-twitter {
  background-image: url(../images/sprites.png);
  background-position: 0px -276px;
  width: 32px;
  height: 32px;
}
