/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$bar-lines-name: 'bar-lines';
$bar-lines-x: 256px;
$bar-lines-y: 0px;
$bar-lines-offset-x: -256px;
$bar-lines-offset-y: 0px;
$bar-lines-width: 32px;
$bar-lines-height: 32px;
$bar-lines-total-width: 288px;
$bar-lines-total-height: 288px;
$bar-lines-image: '../images/sprites.png';
$bar-lines: (256px, 0px, -256px, 0px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'bar-lines', );
$eye-name: 'eye';
$eye-x: 224px;
$eye-y: 32px;
$eye-offset-x: -224px;
$eye-offset-y: -32px;
$eye-width: 32px;
$eye-height: 32px;
$eye-total-width: 288px;
$eye-total-height: 288px;
$eye-image: '../images/sprites.png';
$eye: (224px, 32px, -224px, -32px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'eye', );
$github-name: 'github';
$github-x: 192px;
$github-y: 64px;
$github-offset-x: -192px;
$github-offset-y: -64px;
$github-width: 32px;
$github-height: 32px;
$github-total-width: 288px;
$github-total-height: 288px;
$github-image: '../images/sprites.png';
$github: (192px, 64px, -192px, -64px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'github', );
$heart-name: 'heart';
$heart-x: 160px;
$heart-y: 96px;
$heart-offset-x: -160px;
$heart-offset-y: -96px;
$heart-width: 32px;
$heart-height: 32px;
$heart-total-width: 288px;
$heart-total-height: 288px;
$heart-image: '../images/sprites.png';
$heart: (160px, 96px, -160px, -96px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'heart', );
$purple-fork-name: 'purple-fork';
$purple-fork-x: 128px;
$purple-fork-y: 128px;
$purple-fork-offset-x: -128px;
$purple-fork-offset-y: -128px;
$purple-fork-width: 32px;
$purple-fork-height: 32px;
$purple-fork-total-width: 288px;
$purple-fork-total-height: 288px;
$purple-fork-image: '../images/sprites.png';
$purple-fork: (128px, 128px, -128px, -128px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'purple-fork', );
$purple-star-name: 'purple-star';
$purple-star-x: 96px;
$purple-star-y: 160px;
$purple-star-offset-x: -96px;
$purple-star-offset-y: -160px;
$purple-star-width: 32px;
$purple-star-height: 32px;
$purple-star-total-width: 288px;
$purple-star-total-height: 288px;
$purple-star-image: '../images/sprites.png';
$purple-star: (96px, 160px, -96px, -160px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'purple-star', );
$ribbon-name: 'ribbon';
$ribbon-x: 64px;
$ribbon-y: 192px;
$ribbon-offset-x: -64px;
$ribbon-offset-y: -192px;
$ribbon-width: 32px;
$ribbon-height: 32px;
$ribbon-total-width: 288px;
$ribbon-total-height: 288px;
$ribbon-image: '../images/sprites.png';
$ribbon: (64px, 192px, -64px, -192px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'ribbon', );
$rss-name: 'rss';
$rss-x: 32px;
$rss-y: 224px;
$rss-offset-x: -32px;
$rss-offset-y: -224px;
$rss-width: 32px;
$rss-height: 32px;
$rss-total-width: 288px;
$rss-total-height: 288px;
$rss-image: '../images/sprites.png';
$rss: (32px, 224px, -32px, -224px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'rss', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 256px;
$twitter-offset-x: 0px;
$twitter-offset-y: -256px;
$twitter-width: 32px;
$twitter-height: 32px;
$twitter-total-width: 288px;
$twitter-total-height: 288px;
$twitter-image: '../images/sprites.png';
$twitter: (0px, 256px, 0px, -256px, 32px, 32px, 288px, 288px, '../images/sprites.png', 'twitter', );
$bar-lines-2x-name: 'bar-lines-2x';
$bar-lines-2x-x: 512px;
$bar-lines-2x-y: 0px;
$bar-lines-2x-offset-x: -512px;
$bar-lines-2x-offset-y: 0px;
$bar-lines-2x-width: 64px;
$bar-lines-2x-height: 64px;
$bar-lines-2x-total-width: 576px;
$bar-lines-2x-total-height: 576px;
$bar-lines-2x-image: '../images/sprites-2x.png';
$bar-lines-2x: (512px, 0px, -512px, 0px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'bar-lines-2x', );
$eye-2x-name: 'eye-2x';
$eye-2x-x: 448px;
$eye-2x-y: 64px;
$eye-2x-offset-x: -448px;
$eye-2x-offset-y: -64px;
$eye-2x-width: 64px;
$eye-2x-height: 64px;
$eye-2x-total-width: 576px;
$eye-2x-total-height: 576px;
$eye-2x-image: '../images/sprites-2x.png';
$eye-2x: (448px, 64px, -448px, -64px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'eye-2x', );
$github-2x-name: 'github-2x';
$github-2x-x: 384px;
$github-2x-y: 128px;
$github-2x-offset-x: -384px;
$github-2x-offset-y: -128px;
$github-2x-width: 64px;
$github-2x-height: 64px;
$github-2x-total-width: 576px;
$github-2x-total-height: 576px;
$github-2x-image: '../images/sprites-2x.png';
$github-2x: (384px, 128px, -384px, -128px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'github-2x', );
$heart-2x-name: 'heart-2x';
$heart-2x-x: 320px;
$heart-2x-y: 192px;
$heart-2x-offset-x: -320px;
$heart-2x-offset-y: -192px;
$heart-2x-width: 64px;
$heart-2x-height: 64px;
$heart-2x-total-width: 576px;
$heart-2x-total-height: 576px;
$heart-2x-image: '../images/sprites-2x.png';
$heart-2x: (320px, 192px, -320px, -192px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'heart-2x', );
$purple-fork-2x-name: 'purple-fork-2x';
$purple-fork-2x-x: 256px;
$purple-fork-2x-y: 256px;
$purple-fork-2x-offset-x: -256px;
$purple-fork-2x-offset-y: -256px;
$purple-fork-2x-width: 64px;
$purple-fork-2x-height: 64px;
$purple-fork-2x-total-width: 576px;
$purple-fork-2x-total-height: 576px;
$purple-fork-2x-image: '../images/sprites-2x.png';
$purple-fork-2x: (256px, 256px, -256px, -256px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'purple-fork-2x', );
$purple-star-2x-name: 'purple-star-2x';
$purple-star-2x-x: 192px;
$purple-star-2x-y: 320px;
$purple-star-2x-offset-x: -192px;
$purple-star-2x-offset-y: -320px;
$purple-star-2x-width: 64px;
$purple-star-2x-height: 64px;
$purple-star-2x-total-width: 576px;
$purple-star-2x-total-height: 576px;
$purple-star-2x-image: '../images/sprites-2x.png';
$purple-star-2x: (192px, 320px, -192px, -320px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'purple-star-2x', );
$ribbon-2x-name: 'ribbon-2x';
$ribbon-2x-x: 128px;
$ribbon-2x-y: 384px;
$ribbon-2x-offset-x: -128px;
$ribbon-2x-offset-y: -384px;
$ribbon-2x-width: 64px;
$ribbon-2x-height: 64px;
$ribbon-2x-total-width: 576px;
$ribbon-2x-total-height: 576px;
$ribbon-2x-image: '../images/sprites-2x.png';
$ribbon-2x: (128px, 384px, -128px, -384px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'ribbon-2x', );
$rss-2x-name: 'rss-2x';
$rss-2x-x: 64px;
$rss-2x-y: 448px;
$rss-2x-offset-x: -64px;
$rss-2x-offset-y: -448px;
$rss-2x-width: 64px;
$rss-2x-height: 64px;
$rss-2x-total-width: 576px;
$rss-2x-total-height: 576px;
$rss-2x-image: '../images/sprites-2x.png';
$rss-2x: (64px, 448px, -64px, -448px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'rss-2x', );
$twitter-2x-name: 'twitter-2x';
$twitter-2x-x: 0px;
$twitter-2x-y: 512px;
$twitter-2x-offset-x: 0px;
$twitter-2x-offset-y: -512px;
$twitter-2x-width: 64px;
$twitter-2x-height: 64px;
$twitter-2x-total-width: 576px;
$twitter-2x-total-height: 576px;
$twitter-2x-image: '../images/sprites-2x.png';
$twitter-2x: (0px, 512px, 0px, -512px, 64px, 64px, 576px, 576px, '../images/sprites-2x.png', 'twitter-2x', );
$spritesheet-width: 288px;
$spritesheet-height: 288px;
$spritesheet-image: '../images/sprites.png';
$spritesheet-sprites: ($bar-lines, $eye, $github, $heart, $purple-fork, $purple-star, $ribbon, $rss, $twitter, );
$spritesheet: (288px, 288px, '../images/sprites.png', $spritesheet-sprites, );
$retina-spritesheet-width: 576px;
$retina-spritesheet-height: 576px;
$retina-spritesheet-image: '../images/sprites-2x.png';
$retina-spritesheet-sprites: ($bar-lines-2x, $eye-2x, $github-2x, $heart-2x, $purple-fork-2x, $purple-star-2x, $ribbon-2x, $rss-2x, $twitter-2x, );
$retina-spritesheet: (576px, 576px, '../images/sprites-2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$bar-lines-group-name: 'bar-lines';
$bar-lines-group: ('bar-lines', $bar-lines, $bar-lines-2x, );
$eye-group-name: 'eye';
$eye-group: ('eye', $eye, $eye-2x, );
$github-group-name: 'github';
$github-group: ('github', $github, $github-2x, );
$heart-group-name: 'heart';
$heart-group: ('heart', $heart, $heart-2x, );
$purple-fork-group-name: 'purple-fork';
$purple-fork-group: ('purple-fork', $purple-fork, $purple-fork-2x, );
$purple-star-group-name: 'purple-star';
$purple-star-group: ('purple-star', $purple-star, $purple-star-2x, );
$ribbon-group-name: 'ribbon';
$ribbon-group: ('ribbon', $ribbon, $ribbon-2x, );
$rss-group-name: 'rss';
$rss-group: ('rss', $rss, $rss-2x, );
$twitter-group-name: 'twitter';
$twitter-group: ('twitter', $twitter, $twitter-2x, );
$retina-groups: ($bar-lines-group, $eye-group, $github-group, $heart-group, $purple-fork-group, $purple-star-group, $ribbon-group, $rss-group, $twitter-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
