body {
	background-image: url('../images/backdrop.jpg');
	background-repeat: repeat;
}
img {border: 0px;}
* {vertical-align: text-top;}
#wrapper {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#left {
	background-image: url('../images/left_grad.jpg');
	background-repeat: repeat-x;
	height: 410px;
	vertical-align: middle;
	width: 135px;
}
.top_spacer {
	height: 33px;
}
#content {
	background: #FFFFFF;
}
.nav1 {
	width: 157px;
	height: 25px;
	background-color: #16B3EA;
}
.nav2 {
	width: 157px;
	height: 30px;
	background-color: #FFFFFF;
	vertical-align: middle;
}
.nav2 a:link, .nav2 a:visited{
	color: #16B3EA;
	text-decoration: none;
}
.nav2:hover {
	background-color: #DDDDDD;
}
.nav2:hover a:link, .nav2:hover a:visited, .nav2:hover a:hover {
	color: #000000;
}
.table {
	border: 0px;
	border-collapse: collapse;
}
.input1{
	width: 90%
}
.input2 {
	width: 120px;
}