body {
	background-color: #6988b4;
}
a {
	color: #6988b4;
	background-color: transparent;
}
a:link {
	color: #6988b4;
	background-color: transparent;
}
a:visited {
	color: #6988b4;
	background-color: transparent;
}
a:hover {
	color: #6988b4;
	background-color: transparent;
}
a:active {
	color: #6988b4;
	background-color: transparent;
}
#inf {
	position: absolute;
	left: 3px;
	top: 0px;
}
#dep {
	position: absolute;
	left: 3px;
	top: 58px;
}
#pub {
	position: absolute;
	left: 3px;
	top: 117px;
}
#clu {
	position: absolute;
	left: 3px;
	top: 176px;
}
#spo {
	position: absolute;
	left: 3px;
	top: 235px;
}
#fac {
	position: absolute;
	left: 3px;
	top: 292px;
}