body {
	color: inherit;
	background-color: #6988b4;
}
a {
	color: #6988b4;
	background-color: transparent;
}
a:link {
	color: #6988b4;
	background-color: transparent;
}
a:visited {
	color: #6988b4;
	background-color: transparent;
}
a:hover {
	color: #6988b4;
	background-color: transparent;
}
a:active {
	color: #6988b4;
	background-color: transparent;
}
.top {
	color: #6988b4;
	background-color: transparent;
	font-family: Arial, serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	text-align: left;
}
#t1 {
	position: absolute;
	left: 75px;
	top: 86px;
}
#t2 {
	position: absolute;
	left: 430px;
	top: 86px;
}
#t3 {
	position: absolute;
	left: 635px;
	top: 86px;
}
#home {
	position: absolute;
	left: 3px;
	top: 3px;
}
#anim {
	position: absolute;
	left: 187px;
	top: 3px;
}
#info {
	background-image: url(../image/MHSInfoPanel.png);
	background-repeat: repeat-x;
	position: absolute;
	left: 5px;
	top: 100px;
	bottom: 0%;
	right: 0%;
}
#info2 {
	position: absolute;
	left: 5px;
	top: 100px;
}