body {
	color: inherit;
	background-color: #6988b4;
}
.variable {
	color: #000000;
	background-color: transparent;
	font-family: Arial, serif;
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
}
#t4 {
	font-size: 24px;
	position: absolute;
	text-align: center;
	top: 0%;
	left: 0%;
	right: 0%;
}
#t5 {
	font-size: 10px;
	position: absolute;
	text-align: center;
	vertical-align: bottom;
	bottom: 0%;
	left: 0%;
	right: 0%;
}