<div class="soft-half--top soft-half--bottom cf">
  <% /* TODO: Weight out offset3 vs this hack */ %>
  <div class="span3">
    &nbsp;
  </div>
  <div class="span4">
    <a href="<%=pageUrl%>" target="_blank"><h3 class="flush--bottom"><%=name%></h3></a>
  </div>
  <div class="span4 competition-thin-description">
    <%=competition%>
  </div>
</div>