<div class="superComfyText">
  <div class="span4 offset3">
    <a href="<%=pageUrl%>" target="_blank"><h3 class="headerKilo superComfyText"><%=name%></h3></a>
  </div>
  <div class="span4">
    <%=competition%>
  </div>
</div>