<section id="articleSection">
  <article class="post">
    <header class="row">
      <div class="span10">
        <h1><%= title %></h1>
      </div>
      <div class="span2 date text-right fluffToH1">
        <%
          var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
              day = rawDate.getDate() + "";
          if (day.length === 1) {
             day = "0" + day;
          }

          var articleDate = MONTHS[rawDate.getMonth()] + " " + day + ", " + (rawDate.getYear() + 1900);
        %>
        <%= articleDate %>
      </div>
    </header>

    <section class="content row"><div class="span12 blogpost">
      <%- content %>
    </div></section>

    <% if (locals.scripts) { %>
      HIIII
    <% } %>
  </article>
</section>