h3 Past activity
.cluster
  :markdown
    #### Lantern wall
    I've been exploring electronics. One project I recently finished was a lantern wall:

    <http://twolfson.com/2018-05-06-lantern-wall>
.cluster
  :markdown
    #### Find Work released
    [Find Work][], the project I've been working on for the past year, has been released.
    <br/>
    It's a job search management and company research tool:

    https://findwork.co/

    [Find Work]: https://findwork.co/
