h3 Recent activity
.cluster
  :markdown
    #### [plaidchat][plaidchat]
    I have become a major contributor to a [GNU/Linux Slack desktop application][plaidchat].

    https://github.com/plaidchat/plaidchat

    [plaidchat]: https://github.com/plaidchat/plaidchat

.cluster
  :markdown
    #### [google-music-electron][google-music-electron]
    Google Music updated their UI to Material design and how they handle music playback. Due to these issues, we rewrote [google-music-webkit][] under [electron][].

    https://github.com/twolfson/google-music-electron

    [google-music-electron]: https://github.com/twolfson/google-music-electron
    [google-music-webkit]: https://github.com/twolfson/google-music-webkit
    [electron]: https://github.com/atom/electron

.cluster
  :markdown
    #### IDEO U
    I recently took an IDEO U course to help myself understand the world of design more.

    http://www.ideou.com/

.cluster
  :markdown
    #### [Retina sprites in spritesmith][retina-article]
    [grunt-spritesmith][] and [gulp.spritesmith][] now support retina sprites. Here is an introductory article:

    http://twolfson.com/2015-04-21-retina-sprites-are-here!

    [retina-article]: http://twolfson.com/2015-04-21-retina-sprites-are-here!
    [grunt-spritesmith]: https://github.com/Ensighten/grunt-spritesmith
    [gulp.spritesmith]: https://github.com/twolfson/gulp.spritesmith

.cluster
  :markdown
    #### [spritesmith@3.0.0][spritesmith]
    [spritesmith][] reached its next major release. The `3.0.0` release fixed up long standing issues such as installing unnecessary engines. More notes can be read at:

    https://github.com/Ensighten/grunt-spritesmith#breaking-changes-in-300

    [spritesmith]: https://github.com/Ensighten/grunt-spritesmith
