h3 Recent activity
.cluster
  :markdown
    #### [spritesmith@3.0.0][spritesmith]
    [spritesmith][] reached its next major release. The `3.0.0` release fixed up long standing issues such as installing unnecessary engines and [grunt-newer][] incompatibility. More notes can be read at:

    https://github.com/Ensighten/grunt-spritesmith#breaking-changes-in-300

    [spritesmith]: https://github.com/Ensighten/grunt-spritesmith
    [grunt-newer]: https://github.com/tschaub/grunt-newer

.cluster
  :markdown
    #### [Reverse templating][reverse-mustache]
    Generating input variables from a template and its contents.

    [reverse-mustache]: https://github.com/twolfson/reverse-mustache

    ```js
    reverseMustache({
        template: 'hello {{place}}',
        content: 'hello world'
    });
    // {place: 'world'}
    ```

.cluster
  :markdown
    #### [foundry][]
    Publishing is currently a problem [solved by dotfiles][git-release]. There is no generic solution that has reusable parts between people.

    To fix this, I am building a plugin based library that can publish to multiple repositories (e.g. `npm`, `bower`, `component`, `git tag`, `PyPI`).

    [foundry]: https://github.com/twolfson/foundry
    [git-release]: https://github.com/twolfson/dotfiles/blob/0.29.0/git-template-dir/hooks/post-release.sh
