h3 Current focus
.cluser
  :markdown
    #### IDEO U
    I have begun taking an IDEO U course to help myself understand the world of design more.

    http://www.ideou.com/

h3 Recent activity
.cluster
  :markdown
    #### [Retina sprites in spritesmith][retina-article]
    [grunt-spritesmith][] and [gulp.spritesmith][] now support retina sprites. Here is an introductory article:

    http://twolfson.com/2015-04-21-retina-sprites-are-here!

    [retina-article]: http://twolfson.com/2015-04-21-retina-sprites-are-here!
    [grunt-spritesmith]: https://github.com/Ensighten/grunt-spritesmith
    [gulp.spritesmith]: https://github.com/twolfson/gulp.spritesmith

.cluster
  :markdown
    #### [spritesmith@3.0.0][spritesmith]
    [spritesmith][] reached its next major release. The `3.0.0` release fixed up long standing issues such as installing unnecessary engines. More notes can be read at:

    https://github.com/Ensighten/grunt-spritesmith#breaking-changes-in-300

    [spritesmith]: https://github.com/Ensighten/grunt-spritesmith

.cluster
  :markdown
    #### [Reverse templating][reverse-mustache]
    Generating input variables from a template and its contents.

    [reverse-mustache]: https://github.com/twolfson/reverse-mustache

    ```js
    reverseMustache({
        template: 'hello {{place}}',
        content: 'hello world'
    });
    // {place: 'world'}
    ```

.cluster
  :markdown
    #### [foundry][]
    Publishing is currently a problem [solved by dotfiles][git-release]. There is no generic solution that has reusable parts between people.

    To fix this, I am building a plugin based library that can publish to multiple repositories (e.g. `npm`, `bower`, `component`, `git tag`, `PyPI`).

    [foundry]: https://github.com/twolfson/foundry
    [git-release]: https://github.com/twolfson/dotfiles/blob/0.29.0/git-template-dir/hooks/post-release.sh
