h3 Recent activity
.cluster
  :markdown
    #### Find Work released
    [Find Work][], the project I've been working on for the past year, has been released.
    <br/>
    It's a job search management and company research tool:

    https://findwork.co/

    [Find Work]: https://findwork.co/

h3 Past activity
.cluster
  :markdown
    #### [Open sourced scripts][]
    We have formalized, tested, documented, and released our server management scripts:

    http://twolfson.com/2016-01-20-open-source-server-management

    [Open sourced scripts]: /2016-01-20-open-source-server-management

.cluster
  :markdown
    #### [Major releases in spritesmith](http://twolfson.com/2015-11-22-major-releases-in-spritesmith)
    We have updated the [spritesmith][] ecosystem to accept [Vinyl][] objects and return streams:

    http://twolfson.com/2015-11-22-major-releases-in-spritesmith

    [spritesmith]: https://github.com/Ensighten/spritesmith
    [Vinyl]: https://github.com/gulpjs/vinyl
