h3 Taking a break
.cluster
  :markdown
    I have left Uber and am taking a break to reflect on my life direction.

    While I am content, I would like to step back and look with a clear set of eyes on what I am doing, where I see myself going, and what I would like to accomplish.

    To do this, I am taking a break and going on a 3 month trip to Tokyo, Japan from July 17th to October 13th.

h3 Recent completions
.cluster
  :markdown
    #### [Reverse templating][reverse-mustache]
    Generating input variables from a template and its contents.

    [reverse-mustache]: https://github.com/twolfson/reverse-mustache

    ```js
    reverseMustache({
        template: 'hello {{place}}',
        content: 'hello world'
    });
    // {place: 'world'}
    ```

.cluster
  :markdown
    #### [foundry][]
    Publishing is currently a problem [solved by dotfiles][git-release]. There is no generic solution that has reusable parts between people.

    To fix this, I am building a plugin based library that can publish to multiple repositories (e.g. `npm`, `bower`, `component`, `git tag`, `PyPI`).

    [foundry]: https://github.com/twolfson/foundry
    [git-release]: https://github.com/twolfson/dotfiles/blob/0.29.0/git-template-dir/hooks/post-release.sh
