h3 Recent activity
.cluster
  :markdown
    #### [Open sourced scripts][]
    We have formalized, tested, documented, and released our server management scripts:

    http://twolfson.com/2016-01-20-open-source-server-management

    [Open sourced scripts]: /2016-01-20-open-source-server-management

.cluster
  :markdown
    #### [Major releases in spritesmith](http://twolfson.com/2015-11-22-major-releases-in-spritesmith)
    We have updated the [spritesmith][] ecosystem to accept [Vinyl][] objects and return streams:

    http://twolfson.com/2015-11-22-major-releases-in-spritesmith

    [spritesmith]: https://github.com/Ensighten/spritesmith
    [Vinyl]: https://github.com/gulpjs/vinyl

.cluster
  :markdown
    #### [foundry v4][foundry]
    We have updated [foundry][] to integrate with CLI tools rather than plugins. More info can be found in:

    http://twolfson.com/2015-10-17-release-foundry-v4

    [foundry]: https://github.com/twolfson/foundry

.cluster
  :markdown
    #### [victorious-git][]
    `victorious-git` integrates with your `git` hooks to play fanfare when conflicts are resolved.

    https://github.com/twolfson/victorious-git

    [victorious-git]: https://github.com/twolfson/victorious-git
