h3 Current focus
.cluster
  :markdown
    #### Taking a break
    I have left Uber and am taking a break to reflect on my life direction.

    While I am content, I would like to step back and look with a clear set of eyes; no distractions for the day to day.


h3 Recent completions
.cluster
  :markdown
    #### [Reverse templating][reverse-mustache]
    Generating input variables from a template and its contents.

    [reverse-mustache]: https://github.com/twolfson/reverse-mustache

    ```js
    reverseMustache({
        template: 'hello {{place}}',
        content: 'hello world'
    });
    // {place: 'world'}
    ```

.cluster
  :markdown
    #### [foundry][]
    Publishing is currently a problem [solved by dotfiles][git-release]. There is no generic solution that has reusable parts between people.

    To fix this, I am building a plugin based library that can publish to multiple repositories (e.g. `npm`, `bower`, `component`, `git tag`, `PyPI`).

    [foundry]: https://github.com/twolfson/foundry
    [git-release]: https://github.com/twolfson/dotfiles/blob/0.29.0/git-template-dir/hooks/post-release.sh

.cluster
  :markdown
    #### [twolfson.com][] refresh
    [twolfson.com][] got a long-deserved shower; moved to white color scheme, refactored `lib`, cleaned up tests, and added `bin` scripts.

    [twolfson.com]: /

.cluster
  :markdown
    #### [Sublime plugin tests][]
    Testing framework for [Sublime Text][] 2 and 3 that can be integrated with [Vagrant][] and [Travis CI][] for automated headless testing.

    [Sublime plugin tests]: https://github.com/twolfson/sublime-plugin-tests
    [Sublime Text]: http://sublimetext.com
    [Vagrant]: http://www.vagrantup.com/
    [Travis CI]: https://travis-ci.org/

.cluster
  :markdown
    #### [git-sqwish][]

    git squash without repetitive conflicts

    [git-sqwish]: https://github.com/twolfson/git-sqwish

.cluster
  :markdown
    #### [sexy-bash-prompt][]

    Bash prompt with colors, git statuses, and git branches

    [sexy-bash-prompt]: https://github.com/twolfson/sexy-bash-prompt
