h3 Recent activity
.cluster
  :markdown
    #### Graphic Design
    I'm currently working on a Graphic Design certificate from [RISD][]. This is to fill visual design gaps in my startup work.

    [RISD]: https://ce.risd.edu/

h3 Past activity
.cluster
  :markdown
    #### Burning Man art
    My most recent large project efforts were on giant physical art pieces:

    <https://twolfson.com/2019-10-24-cone-down>
    <br/>
    <https://twolfson.com/2018-10-12-rainbow-bridge>
