/* The project page uses larger font than normal */
#project-section {
  font-size: 16px;
}

/* Make description, stars, and forks bigger than normal */
.project-description,
.project-stars,
.project-forks {
  line-height: 60px;
}

/* Any project heading uses padding over margin */
.project-section-heading {
  margin: 0;
  padding: 10px 0;
}

/* Heights for comptition items */
.competition-description {
  line-height: 32px;
}

.competition-thin-description {
  line-height: 60px;
}

.competition-score,
.competition-views,
.competition-likes {
  line-height: 60px;
}