// Custom beautons
// Based on https://github.com/twbs/bootstrap/blob/v3.3.7/dist/css/bootstrap.css#L3003-L3115
.btn {
  @include transition(background 0.15s ease-in-out);
  border-color: $btn-border-color;
  border-style: solid;
  border-width: 1px;
  background: $btn-bg;
}

.btn:hover,
.btn:active {
  background: $btn-bg--hover;
}

.btn--medium {
  padding: 8px 18px;
}

.btn--huge {
  padding: 13px 18px;
}
