/** Container for document. It should always have gutters on the left and right **/
.container {
  width: 980px;
}

.container__row {
  width: 960px;
  @extend .cf;
}

@mixin column($column, $gutter) {
  width: ((960px / 12) * $column) - $gutter;
}

// TODO: Namespacing and such
.span,
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  display: block;
  @extend .push--left;
}

.width,
.width1,
.width2,
.width3,
.width4,
.width5,
.width6,
.width7,
.width8,
.width9,
.width10,
.width11,
.width12 {
  @extend .soft--left;
}

.span1 {
  @include column(1, $base-spacing-unit);
}
.span2 {
  @include column(2, $base-spacing-unit);
}
.span3 {
  @include column(3, $base-spacing-unit);
}
.span4 {
  @include column(4, $base-spacing-unit);
}
.span5 {
  @include column(5, $base-spacing-unit);
}
.span6 {
  @include column(6, $base-spacing-unit);
}
.span7 {
  @include column(7, $base-spacing-unit);
}
.span8 {
  @include column(8, $base-spacing-unit);
}
.span9 {
  @include column(9, $base-spacing-unit);
}
.span10 {
  @include column(10, $base-spacing-unit);
}
.span11 {
  @include column(11, $base-spacing-unit);
}
.span12 {
  @include column(12, $base-spacing-unit);
}

.width1 {
  @include column(1, 0);
}
.width2 {
  @include column(2, 0);
}
.width3 {
  @include column(3, 0);
}
.width4 {
  @include column(4, 0);
}
.width5 {
  @include column(5, 0);
}
.width6 {
  @include column(6, 0);
}
.width7 {
  @include column(7, 0);
}
.width8 {
  @include column(8, 0);
}
.width9 {
  @include column(9, 0);
}
.width10 {
  @include column(10, 0);
}
.width11 {
  @include column(11, 0);
}
.width12 {
  @include column(12, 0);
}