/** Container for document. It should always have gutters on the left and right **/
$grid-width: 960px;
$grid-columns: 12;
$gutter-width: $base-spacing-unit;
.container {
  width: $grid-width + $gutter-width;
}

.container__row {
  margin: 0 auto;
  width: $grid-width;
  @extend .cf;
}

@mixin column($columns, $gutter-offset) {
  width: (($grid-width / $grid-columns) * $columns) - $gutter-offset;
}

// TODO: Namespacing and such
.span,
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  display: block;
  margin-left: $base-spacing-unit;
}

.width,
.width1,
.width2,
.width3,
.width4,
.width5,
.width6,
.width7,
.width8,
.width9,
.width10,
.width11,
.width12 {
  padding-left: $gutter-width;
}

.span1, .inline-span1 {
  @include column(1, $gutter-width);
}
.span2, .inline-span2 {
  @include column(2, $gutter-width);
}
.span3, .inline-span3 {
  @include column(3, $gutter-width);
}
.span4, .inline-span4 {
  @include column(4, $gutter-width);
}
.span5, .inline-span5 {
  @include column(5, $gutter-width);
}
.span6, .inline-span6 {
  @include column(6, $gutter-width);
}
.span7, .inline-span7 {
  @include column(7, $gutter-width);
}
.span8, .inline-span8 {
  @include column(8, $gutter-width);
}
.span9, .inline-span9 {
  @include column(9, $gutter-width);
}
.span10, .inline-span10 {
  @include column(10, $gutter-width);
}
.span11, .inline-span11 {
  @include column(11, $gutter-width);
}
.span12, .inline-span12 {
  @include column(12, $gutter-width);
}

.width1 {
  @include column(1, 0);
}
.width2 {
  @include column(2, 0);
}
.width3 {
  @include column(3, 0);
}
.width4 {
  @include column(4, 0);
}
.width5 {
  @include column(5, 0);
}
.width6 {
  @include column(6, 0);
}
.width7 {
  @include column(7, 0);
}
.width8 {
  @include column(8, 0);
}
.width9 {
  @include column(9, 0);
}
.width10 {
  @include column(10, 0);
}
.width11 {
  @include column(11, 0);
}
.width12 {
  @include column(12, 0);
}

// TODO: Apply to all .spanX.hard--left > .spanY (on the .spanX)
.grid--nested {
  margin-left: 0;
  padding-left: 0;
}