@wellWidth: 20px;
@wellHeight: 15px;
@unitWidth: 60px;
@gridColumns: 12;
@fullWidth: @gridColumns * @unitWidth + @gridColumns * @wellWidth;

// Attribution to Twitter Bootstrap https://github.com/twitter/bootstrap/blob/master/less/mixins.less
.gridify (@gridColumnWidth, @gridGutterWidth) {
  .spanX (@index) when (@index > 0) {
    (~".l_span@{index}") { .span(@index); }
    .spanX(@index - 1);
  }
  .spanX (0) {}

  .offsetX (@index) when (@index > 0) {
    (~".l_offset@{index}") { .offset(@index); }
    .offsetX(@index - 1);
  }
  .offsetX (0) {}

  .offset (@columns) {
    margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
  }

  .span (@columns) {
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
  }

  .l_row {
    // margin-left: @gridGutterWidth * -1;
    .clearfix();
  }

  .l_rowRightInner {
    float: right;
    margin-right: @gridGutterWidth;
  }

  // generate .spanX and .offsetX
  .spanX (@gridColumns);
  .offsetX (@gridColumns);
}

.gridify(@unitWidth, @wellWidth);

.l_span,
.l_span1,
.l_span2,
.l_span3,
.l_span4,
.l_span5,
.l_span6,
.l_span7,
.l_span8,
.l_span9,
.l_span10,
.l_span11,
.l_span12 {
  float: left;
  margin-left: @wellWidth;
}