@wellWidth: 20px;
@wellHeight: 15px;
@unitWidth: 60px;
@gridColumns: 12;
@fullWidth: @gridColumns * @unitWidth + @gridColumns * @wellWidth;

// Attribution to Twitter Bootstrap https://github.com/twitter/bootstrap/blob/master/less/mixins.less
.gridify (@gridColumnWidth, @gridGutterWidth) {
  .spanX (@index) when (@index > 0) {
    (~".span@{index}") { .span(@index); }
    .spanX(@index - 1);
  }
  .spanX (0) {}

  .offsetX (@index) when (@index > 0) {
    (~".l_offset@{index}") { .offset(@index); }
    .offsetX(@index - 1);
  }
  .offsetX (0) {}

  .offset (@columns) {
    margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
  }

  .span (@columns) {
    width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
  }

  .row {
    .clearfix();
  }

  .rowNested {
    margin-left: @gridGutterWidth * -1;
  }

  // generate .spanX and .offsetX
  .spanX (@gridColumns);
  .offsetX (@gridColumns);
}

.span,
.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11,
.span12 {
  float: left;
  margin-left: @wellWidth;
}

.spanRight {
  float: right;
  margin-right: @wellWidth;
}

.gridify(@unitWidth, @wellWidth);