/* Border class */
.border {
  border-width: 1px;
  border-style: solid;
  border-color: #000;
}

/* Increased border width for inputs */
input.border,
textarea.border,
button.border {
  border-width: 2px;
}

/* Row striping with border class overload */
.odd-row.theme {
  background: @darkBg;
}
.odd-row.theme.border {
  border-color: @darkBorder;
}

.even-row.theme {
  background: @lightBg;
}
.even-row.theme.border {
  border-color: @lightBorder;
}