/* Featured item module */
.featureItem {
  background: @featureBg;
  /* color: #000; */
  padding: 5px 0;
  border-radius: 20px;
  margin: 0 auto;
  width: 95%;
}

.featureItem img {
  height: 170px;
  border-radius: 0;
}

.featureItem:hover {
  background: @featureBgSelected;
}