/* Font faces */
@font-face {
  font-family: 'KomikaTitle-PaintRegular';
  src: url('fonts/KomikaTitle-Paint-webfont.eot');
  src: url('fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
       url('fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
       url('fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-PaintRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'KomikaTitleWideRegular';
    src: url('fonts/KomikaTitle-Wide-webfont.eot');
    src: url('fonts/KomikaTitle-Wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/KomikaTitle-Wide-webfont.woff') format('woff'),
         url('fonts/KomikaTitle-Wide-webfont.ttf') format('truetype'),
         url('fonts/KomikaTitle-Wide-webfont.svg#KomikaTitleWideRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'DigitaldreamFatRegular';
  src: url('fonts/DIGITALDREAMFAT-webfont.eot');
  src: url('fonts/DIGITALDREAMFAT-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
       url('fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'),
       url('fonts/DIGITALDREAMFAT-webfont.svg#DigitaldreamFatRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General theming */
* {
  font-family: Open Sans, sans-serif;
  color: #FFF;
}

/* IE :hover, :active, and :focus fix */
body {
  behavior: url('csshover3.htc');
}

/* Specific groupings */

/* Main content */
#topSection hgroup,
#obstaclesSection header,
#obstaclesSection article,
#prizesSection header,
#prizesSection article,
#contestantSection header,
#contestantSection article,
#footerSection {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

/* Komika Paint text */
#topSection h2,
#obstaclesSection h2,
#obstaclesButtons figcaption,
#obstaclesDescription h3,
#obstaclesDescription h4,
#prizesSection h2,
#prizesSection figcaption,
#contestantSection h2,
#submitEntry span,
#contestantSection figcaption,
input, select, option,
#teamColorContainer span,
#genderContainer span {
  font-family: KomikaTitle-PaintRegular, sans-serif;
}

/* Komika Wide text */
/*#footerSection*/ #knLogo {
  font-family: KomikaTitleWideRegular, sans-serif;
}

/* Digital Dream text */
/*#contestantSection*/ #contestantTimer {
  font-family: DigitaldreamFatRegular, monospace, sans-serif;
}

/* Blue texture background */
body {
  background: #80C1D6 url('images/blue_texture.png') left top repeat;
}

/* Blue splat */
#topSection {
  background: url('images/sheet.png') -81.5px -217px no-repeat;
}

/* Green background */
#obstaclesButtons li,
#prizesSection {
  background: #80B238 url('images/green_texture.png');
}

/* Orange background */
#obstaclesSection,
input, select, option,
/*#contestantSection*/ #teamColorContainer,
/*#contestantSection*/ #genderContainer {
  background: #FE6638 url('images/orange_texture.png');
}

/* Yellow background */
#obstaclesButtons li:hover,
#obstaclesButtons .featuredObstacle {
  background: #EEF13F url('images/yellow_texture.png');
}

/* Orange font */
#topSection h2,
#obstaclesButtons li:hover figcaption,
#obstaclesButtons .featuredObstacle figcaption {
  color: #FE6537;
}

/* Yellow font */
/*#contestantSection*/ #contestantTimer {
  color: #F5EB00;
}

/* OOCSS size1of2 */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  width: 50%;
}

/* OOCSS unit */
/*#obstacleSection*/ #obstaclesButtons,
#prizesSection .prizeColumn,
#contestantSection form,
/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  float: left;
}

/* OOCSS lastUnit */
/*#obstacleSection*/ #obstaclesDescription,
#prizesSection #lastPrizeColumn,
#contestantSection aside,
/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}

/* Clearfix */
#obstaclesSection article:after,
#prizesSection article:after,
#contestantSection article:after {
  content: " ";
  clear: both;
  display: block;
  visibility: hidden;
}

/* Border radius */
#obstaclesButtons li,
#contestantSection input,
#contestantSection select,
/*#contestantSection*/ #teamColorContainer,
/*#contestantSection*/ #genderContainer,
#teamColorContainer img,
#genderContainer img {
  border: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Section border */
#obstaclesSection,
#prizesSection,
#contestantSection,
#footerSection hr {
  border-width: 7px 0;
  border-style: solid;
}

/* Faded blue border */
#contestantSection,
#footerSection hr {
  border-color: rgb(115, 177, 196);
  border-color: rgba(0, 0, 0, 0.06);
}

/* White text shdaow */
#topSection h2 {
  text-shadow: #FFF 1.74px 2.44px;
}

/* Black text shdaow */
#obstaclesSection h2,
/*#obstaclesSection*/ #obstaclesDescription,
#prizesSection h2,
#contestantSection h2,
#submitEntry span,
#timerBlock figcaption {
  /* A quick sweep of Quirks Mode implies text-shadow is supported by browsers that support rgba */
  text-shadow: rgba(0, 0, 0, 0.2) 2.90px 4.07px;
}

/* Rotated text */
#obstaclesDescription h3,
#obstaclesDescription h4,
#submitEntry span {
  -webkit-transform: rotate(-8deg);
  -moz-transform:    rotate(-8deg);
  -ms-transform:     rotate(-8deg);
  -o-transform:      rotate(-8deg);
}

/* '40 pt' font */
#topSection h2,
#obstaclesSection h2,
#obstaclesDescription h3,
#prizesSection h2,
#contestantSection h2,
#timerBlock figcaption {
  font-size: 40px;
}

/* Yellow checkerboard bg */
#obstaclesSection h2,
#prizesSection h2,
#contestantSection h2 {
  background-image: url('images/sheet.png');
  background-position: top right;
  background-repeat: no-repeat;
}

/* Specific classes */

/* navBar specific */
#navBar {
  position: fixed;
  top: 0;
  width: 100%;

  background: #79B9CE;
  color: #000;

  text-align: center;
  text-transform: uppercase;

  z-index: 1000;
}

#navBar.translucent {
  /* Fallback for browsers without RGBa support */
  background-color: rgb(121, 185, 206);
  background-color: rgba(15, 40, 48, 0.05);
}

#navBar a {
  color: #FFF;
  text-decoration: none;
  margin: 0 1.7em;
}

#navBar a:hover {
  text-decoration: underline;
}

#navBar,
#navBarPlaceholder {
  line-height: 2em;
}

/* topSection specific */
#topSection {
  text-align: center;
  padding-bottom: 9em;
}

#topSection h1 {
  background: url('images/sheet.png') -10px -1143px no-repeat;
  height: 426px;
  width: 560px;
  margin: 0 auto;
  padding: 0;
}

#topSection h1 img {
  margin-top: 100px;
  margin-left: -36px;
}

#topSection h2 {
  line-height: 1.2em;
  letter-spacing: .1em;
  margin-top: 40px;
  margin-bottom: .4em;
}

#topSection h3 {
  font-size: 1.4em;
}

/* obstaclesSection specific */
#obstaclesSection {
  border-color: rgb(237, 88, 48);
  border-color: rgba(0, 0, 0, 0.06);
  padding: 44px 0 66px;
}

#obstaclesSection h2 {
  background-position: 270px -2233px;
  margin-bottom: 57px;
}

#obstaclesButtons li {
  height: 220px;
  width: 220px;
  margin: 0 16px 16px 0;

  float: left;

  cursor: pointer;
  text-align: center;

  position: relative;
  z-index: 10;
}

#obstaclesButtons #sundaeSlide,
#obstaclesButtons #downTheHatch,
#obstaclesButtons #theWringer {
  margin-right: 0;
}

#theTank img {
  height: 152px;
  margin-top: 23px;
}

#sundaeSlide img {
  height: 168px;
  margin-top: 13px;
}

#humanHamsterWheel img {
  height: 164px;
  margin-top: 10px;
}

#downTheHatch img {
  height: 161px;
  margin-top: 15px;
}

#pickIt img {
  height: 161px;
  margin-top: 14px;
}

#theWringer img {
  height: 164px;
  margin-top: 16px;
}

#obstaclesButtons figcaption {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
}

/*#obstaclesSection*/ #obstaclesDescription {
  text-align: center;
  position: relative;
  height: 692px; /* 220 * 3 + 16 * 2 */
}

#obstaclesDescription figcaption {
  background: url('images/sheet.png') 51px -2313px no-repeat;
  height: 210px;
  width: 393px;
  margin-left: auto;
  margin-right: 24px;
}

#obstaclesDescription h3 {
  line-height: 1.2em;
  padding-top: 1.4em;
  padding-bottom: 0.2em;
}

#obstaclesDescription h4 {
  line-height: 1.4em;
}

#obstaclesDescription img {
  width: 360px;
  position: absolute;
  bottom: 0;
  right: 40px;
}

/* prizesSection specific */
#prizesSection {
  border-color: rgb(120, 168, 53);
  border-color: rgba(0, 0, 0, 0.06);
  padding-top: 63px;
  padding-bottom: 144px;
}

#prizesSection h2 {
  background-position: 169px -2233px;
  margin-bottom: 85px;
}

#prizesSection ul {
  position: relative;
  height: 723px;
}

#prizesSection li {
  float: left;
  width: 470px;
  text-align: center;
}

#prizesSection #nashSkateboard,
#prizesSection #tvVcrCombo {
  float: right;
}

#prizesSection figcaption {
  margin-top: 1em;
}

#prizesSection a {
  text-decoration: none;
}

#prizesSection #casioKeyboard,
#prizesSection #tvVcrCombo {
  position: absolute;
  bottom: 0;
  left: 0;
}

#casioKeyboard figcaption {
  margin-top: 2.5em;
}

#prizesSection #tvVcrCombo {
  left: 470px;
}

/* contestantSection specific */
#contestantSection {
  padding-top: 67px;
  padding-bottom: 116px;
  border-bottom-width: 0;
}

#contestantSection h2 {
  background-position: 410px -2253px;
  margin-bottom: 85px;
}

#contestantSection fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  width: 380px;
}

#contestantSection input,
#contestantSection select,
/*#contestantSection*/ #teamColorContainer,
/*#contestantSection*/ #genderContainer {
  height: 50px;
  width: 100%;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  margin-bottom: 16px;
}

#contestantSection input,
#contestantSection select,
#contestantSection option,
#teamColorContainer,
#genderContainer {
  font-size: 1.1em;
  padding-left: .4em;
}

/*#contestantSection*/ #teamColorContainer,
/*#contestantSection*/ #genderContainer {
  position: relative;
}

#contestantSection select {
  padding-top: .35em;
  padding-bottom: .35em;
  cursor: pointer;
}

#teamColorContainer span,
#genderContainer span {
  display: block;
  margin-top: .8em;
}

#teamColorContainer img,
#genderContainer img {
  position: absolute;
  top: 0;
  right: 0;

  height: 50px;
  width: 50px;
  background: url('images/sheet.png') -10px -1589px no-repeat;
}

#teamColor:hover + * + img,
#teamColor:focus + * + img,
#gender:hover + * + img,
#gender:focus + * + img {
  background-position: -10px -1639px;
}


#contestantSection select.styled {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity = 0);
}

/*#contestantSection*/ #teamColorContainer {
  float: left;
}

#contestantSection #teamColor,
#contestantSection #teamColorContainer {
  width: 220px;
}

#contestantSection #gender,
#contestantSection #genderContainer {
  display: block;
  float: right;
  width: 140px;
}

/*#contestantSection*/ #submitEntry {
  display: block;
  border: 0;
  margin: 0 auto;
  height: 154px;
  width: 227px;
  background: url('images/sheet.png') 0 -1709px no-repeat;
  font-size: 1.5em;
  padding-top: 20px;
  padding-bottom: 40px;
  cursor: pointer;
}

#contestantSection aside {
  text-align: center;
}

/*#contestantSection*/ #contestantTimer {
  background: url('images/sheet.png') -5px -1884px no-repeat;
  height: 236px; /* 329 - 93 */
  width: 386px;
  margin: 0 32px 32px auto; /* right = (470 - 386) / 2 - 10 */
  padding: 93px 0 0 10px;
  font-size: 9em;
}

/* footerSection specific */
#footerSection {
  text-align: center;
  padding-bottom: 1em;
}

#footerSection hr {
  border-width: 4px;
}

/*#footerSection*/ #knLogo {
  background: url('images/sheet.png') 393px -2539px no-repeat;
  height: 85px;
  margin-top: -55px;
  font-size: 3.4em;
  padding-top: .2em;
  padding-left: .2em;
}

/*#footerSection*/ #termsAndConditions {
  margin-top: 20px;
}

#footerSection h3 {
  font-size: 1.4em;
  margin-bottom: .2em;
}

/*#footerSection*/ #termsAndConditions,
/*#footerSection*/ #studioInfo {
  margin-bottom: 32px;
  line-height: 1.2em;
}

/*#footerSection*/ #notAffiliated,
/*#footerSection*/ #caAddress {
  text-align: right;
  margin-left: -1em;
  margin-right: 2em;
}

#footerSection address {
  font-style: normal;
}

/*#footerSection*/ #contestantConsent,
/*#footerSection*/ #flAddress {
  text-align: left;
}

/*#footerSection*/ #creativeCommons {
  line-height: 1.3em;
}

#creativeCommons img {
  margin-top: 2em;
}

#footerSection cite {
  font-style: normal;
}

#footerSection a:link {
  text-decoration: none;
}

/* Media queries */
@media (max-width: 939px) {
  #topSection hgroup,
  #obstaclesSection header,
  #obstaclesSection article,
  #prizesSection header,
  #prizesSection article,
  #contestantSection header,
  #contestantSection article,
  #footerSection {
    width: 100%;
  }

  /* Section headers */
  #obstaclesSection h2,
  #prizesSection h2,
  #contestantSection h2 {
    margin-left: .4em;
  }

  /* Obstacle section */
  #obstaclesSection #obstaclesButtons,
  #obstaclesSection #obstaclesDescription {
    width: 692px; /* 220 * 3 + 16 * 2 */
    float: none;
    text-align: center;
    margin: 0 auto;
    height: auto;
  }

  #obstaclesButtons #sundaeSlide,
  #obstaclesButtons #downTheHatch {
    margin-right: 16px;
  }

  #obstaclesButtons #humanHamsterWheel {
    margin-right: 0;
  }

  /* Clearfix */
  #obstaclesSection #obstaclesButtons:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
  }

  #obstaclesDescription figcaption {
    margin: 0;
    float: left;
  }

  #obstaclesDescription img {
    position: static;
    height: 270px;
    width: auto;

    float: right;

    margin-right: 20px;
  }

  /* Prizes section */
  #prizesSection li {
    width: 40%;
    margin-left: 2em;
  }

  #prizesSection #nashSkateboard,
  #prizesSection #tvVcrCombo {
    margin-left: 0;
    margin-right: 2em;
  }

  #prizesSection #tvVcrCombo {
    left: 57%;
  }

  #prizesSection img {
    width: 100%;
    height: auto;
  }

  /* Contestant section */
  #contestantSection form {
    float: none;
    width: 100%;
  }

  #contestantSection fieldset {
    width: 90%;
    margin: 0 auto;
  }

  #contestantSection input,
  #contestantSection select,
  #contestantSection option,
  #contestantSection #teamColor,
  #contestantSection #gender {
    width: 100%;
  }

  #contestantSection #teamColorContainer {
    width: 55%;
  }

  #contestantSection #genderContainer {
    width: 40%;
  }

  #contestantSection aside {
    display: none;
  }
}

@media (max-width: 710px) {
  /* Obstacles section */
  #obstaclesSection #obstaclesButtons {
    width: 456px; /* 220 * 2 + 16 * 1 */
  }

  #obstaclesButtons #sundaeSlide,
  #obstaclesButtons #downTheHatch {
    margin-right: 0;
  }
  #obstaclesButtons #humanHamsterWheel {
    margin-right: 16px;
  }

  #obstaclesDescription {
    display: none;
  }

  /* Prizes section */
  #prizesSection ul {
    height: 550px;
  }
}

/* Nav bar width issues */
@media (max-width: 639px) {
  /* Nav bar */
  #navBar {
    position: static;
  }
  #navBarPlaceholder {
    display: none;
  }

  #topLink {
    display: none;
  }
}

/* Header width issues */
@media (max-width: 559px) {
  #topSection h1 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  /* Nav bar */
  #obstacleLink,
  #prizesLink,
  #contestantLink {
    display: block;
  }

  /* Top section */
  #topSection h1 img {
    margin-left: 0;
  }

  /* Section header */
  #obstaclesSection h2,
  #prizesSection h2,
  #contestantSection h2 {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    background-image: none;
  }

  /* Obstacle section */
  #obstaclesSection #obstaclesButtons,
  #obstaclesButtons li {
    width: 100%;
  }

  #obstaclesButtons li {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  /* Prizes section */
  #prizesSection {
    padding-bottom: 4em;
  }

  #prizesSection ul {
    height: auto;
  }

  #prizesSection li,
  #prizesSection #nashSkateboard,
  #prizesSection #tvVcrCombo,
  #prizesSection #casioKeyboard {
    width: 100%;
    margin: 0 0 4em;
    float: none;
    position: static;
  }

  #prizesSection img {
    width: 90%;
  }


  /* Contestant section */
  #contestantSection #teamColor,
  #contestantSection #teamColorContainer,
  #contestantSection #gender,
  #contestantSection #genderContainer {
    width: 100%;
  }

  /* Footer paragraphing */
  #notAffiliated,
  #contestantConsent {
    margin: .8em 0 0;
    text-align: center;
    display: block;
    float: none;
    width: 100%;
    font-size: .9em;
  }
}